{% load static %}
<!DOCTYPE html>
<title>{% block page_title %}Real Estate Agency{% endblock %}</title>
<meta charset="utf-8">
<!-- Latest compiled and minified CSS from Twitter Bootstrap -->
{% block meta %}
    <link rel="shortcut icon" href='{% static "real_estate/images/logo/favicon.ico" %}' type="image/x-icon">
    <link rel='stylesheet' href='{% static "real_estate/css/base.css" %}'>
    {# <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> #}
    <script src='{% static "real_estate/js/jquery.min.js" %}'></script>
    <!--For mobile phones-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--[if lt IE 9]> <script src="//html5shiv.
    googlecode.com/ svn/trunk/html5.js"></script>
    <![endif]-->
{% endblock %}
{% block extra_meta %}{% endblock %}
{% block header %}{% include "real_estate/base/header.html" %}{% endblock %}
{% block navigation %}{% include 'real_estate/base/navigation.html' %}{% endblock %}
{% block content %}{% endblock %}
{% block footer %}{% include "real_estate/base/footer.html" %}{% endblock %}