{% load static %}
<header class="hidden-sm-down">
    <div class='wrapper col-md-12'>
        <div class='col-md-2'>
            <a href='{% url "real_estate:index" %}' ><img alt='Логотип компании ДОМУС' src='{% static "real_estate/images/logo/logo.svg" %}' width='162'></a>
        </div>
        <div class='col-md-1'>
            <span id='link_vk'>
                vk
            </span>
            <span id='link_instagram'>
                instagram
            </span>                
        </div>
        <div class='col-md-7 text-right'>
            <p>Звоните ежедневно с 8:00 до 22:00<br>
            <a href='tel:+7 (3452) 58-98-81' id='header-phone'>+7 (3452) 58-98-81</a>
            </p>
        </div>
        <div class='col-md-2 text-left without-padding'>
            <button type='button' class='btn btn-block'><b>Заказать звонок</b></button>
        </div>
    </div>
</header>