<nav class="navbar navbar-default col-xs-12" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="{% url 'real_estate:index' %}">{{ "Главная"|upper }}</a></li>
                <li><a href="#">{{ "Новостройки"|upper }}</a></li>
                <li><a href="#">{{ "Ипотека"|upper }}</a></li>
                <li><a href="#">{{ "Корпоративная программа"|upper }}</a></li>
                <li><a href="#">{{ "Отзывы"|upper }}</a></li>
                <li><a href="#">{{ "О компании"|upper }}</a></li>
                <li><a href="#">{{ "Контакты"|upper }}</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>