<div class="reviews_item">
    <div class="reviews_item_photo" style="background-image: url({{feedback.image.url}});">      
    </div>
    <div class="reviews_item_text">{{feedback.message}}
        <div class="reviews_item_description">{{feedback.author}}<span><a href=""><i class="fa fa-vk " aria-hidden="true"></i></a></span> <br> <span style="font-size: 14px; font-weight: 300;">Место работы: {{feedback.work_at}} </span><br> 
    Приобретена квартира в ЖК {{feedback.bought}}
        </div>
    </div>
</div>