{% extends 'base/base.html'%}
{% load static %}
{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Отзывы" "feedback" %}
{% endblock %}
{% block content %}


	<section class="rewiews_header" style="background-image: url({% static 'img/reviews.png' %});">
		<div class="container">
			<div class="row">
				<div class="col-md-12"> 
					<div class="rewiews_header_headline_flex">
						<h1 class="rewiews_header_headline">Отзывы о компании</h1>
					</div>
					

				</div>
			</div>
		</div>
	</section>
<section class="reviws_page">
<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
		{% for feedback in feedbacks %}
			{% include 'feedback/feedback_detail.html' %}
		{% empty %}
			<h1>Отзывов пока нет</h1>
		{% endfor %}
		</div>
	</div>
</div>
</section>
{% include 'real_estate/paginator.html' %}
{% endblock %}
