#For python bytecode
*.pyc

#For editors temporary files
*~
*.swp

#For nano's emergency files
*.save

#For django media files
real_estate_agency/media/*

#For sublime files
*.sublime-project
*.sublime-workspace

#For sass cache files
*.sass-cache

#For temporary db (for development)
*.sqlite3
real_estate_agency/static/img/.DS_Store

#For node packages and dynamic webpack files
*/node_modules
*/webpack-stats.dev.json
*/webpack-stats.prod.json

#For production bundles
real_estate_agency/static/bundles/

#For server logs
*.log
*/logs/*

#For server settings
real_estate_agency/real_estate_agency/settings/production.py
server/*
real_estate_agency/templates/base/extra_production_head.html
