{% extends 'admin/change_form.html' %}
{% load static %}

{% block admin_change_form_document_ready %}
{{ block.super }}
<script type="text/javascript">
    var formset_name = 'newbuilding_set';
    var formset_name2 = 'newapartment_set';
    exceptions = [];
    (function($) {
    $(document).on('formset:added', function(event, $row, formsetName) {
        if (formsetName==formset_name ){
            var id = $row.attr('id')
            var id_number = id.replace(formset_name+'-', '');
            var formset_id_prefix = 'id_' + formset_name + '-';
            // console.log(formsetName);
            $row.find("input[type!='hidden'], select[type!='hidden']").each(function(){
                var local_id = $(this).attr('id');
                $(this).val($('#'+local_id.replace(id_number, id_number-1)).val());
            });
            $row.find('#id_'+ id +'-street').append(
                $('#' + formset_id_prefix + (id_number-1)+'-street option[value!=""]').clone(true)
            );

            $row.find('.select2-selection__rendered').each(function(){
                var local_id = $(this).attr('id')
                var value = $('#'+local_id.replace(id_number, id_number-1)).attr('title')
                $(this).attr('title', value);
                $(this).append(value);
            });
            console.log(formsetName);
            
        }
    });

    $(document).on('formset:removed', function(event, $row, formsetName) {
        // Row removed
    });
})(django.jQuery);
</script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script type="text/javascript">
        (function(s){
            setTimeout(function(){
                    $(window).scrollTop(Cookies.get('django_admin_scroll'));
                    Cookies.set('django_admin_scroll',0);

                }, 100);
        })(django.jQuery);
        function save_and_continue(){
            Cookies.set('django_admin_scroll',$(window).scrollTop());
            $('input[name="_continue"]').click()
        }
        $('input[name="_continue"]').click(function(event){
            Cookies.set('django_admin_scroll',$(window).scrollTop());
            return event;
        });
        // $(document).bind('keydown', 'Meta+S', save_and_continue);
        // $(document).bind('keydown', 'Ctrl+S', save_and_continue);
    </script>
{% endblock %}