/* _text.scss */

body {
	font: 12px $default-text-font-p;
}
h1, h2, h3, h4, h5, h5, strong {
	font-family: $default-text-font-h;
  font-weight: normal;
}
a{
  color: inherit;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-center-full{
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center;
}
.text-justify {
  text-align: justify;
}
.text-nowrap {
  white-space: nowrap;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-capitalize {
  text-transform: capitalize;
}
.text-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
strong, .strong {
  font-weight: bold;
}