{% extends 'base/base.html'%}
{% load static %}
{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "О компании" "about" %}
{% endblock %}
{% block content %}
<section style="background-image: url({% static 'img/about.png' %});">
	<div class="container">
		<h1 class="rewiews_header_headline">О компании</h1>
	</div>
</section>
<div class="container">
	<p><strong>Компания «Домус»</strong> — официальный представитель ведущих строительных компаний г. Тюмени.</p>
	<p><strong>Название «Домус»</strong> выбрано не случайно — в переводе с латинского означает дом, особняк. Самое главное в жизни человека — это место, где любят и ждут, где царит идеальная гармония, куда хочется возвращаться каждый день. Своим клиентам мы предлагаем помощь в решении жилищного вопроса, предлагая новый уровень качественных услуг. </p>
	<p><strong>Миссия:</strong> Мы помогаем найти и приобрести квартиру вашей мечты.</p>
	<p><strong>Наши направления в сфере недвижимости:</strong></p>
	<ul>
		<li>покупка квартир на рынке новостроек;</li>
		<li>покупка элитной недвижимости;</li>
		<li>покупка, продажа квартир на вторичном рынке;</li>
		<li>брокеридж и управление коммерческой недвижимостью;</li>
		<li>помощь в оформлении ипотеки, услуги ипотечного брокера;</li>
		<li>юридические сопровождение сделок;</li>
		<li>работа по социальным программам (молодая семья, материнский капитал, военная ипотека, бюджетный сертификат).</li>
	</ul>
</div>

<div class="container">
	<h2 class="zhk_headline">Приемущества компании</h3>
	<div class="row text-center">
		<div class="col-md-3 col-xs-12">
			<img src="{% static 'img/icon/about/wallet.svg' %}" width="100px" height="100px">
			<h4><strong>Новостройки без комиссии</strong></h4>
			<p>Мы являемся представителями застройщиков, поэтому наши услуги 	бесплатны</p>
		</div>
		<div class="col-md-3 col-xs-12">
			<img src="{% static 'img/icon/about/booking.svg' %}" width="100px" height="100px">
			<h4><strong>Бронирование</strong></h4>
			<p>Мы бесплатно забронируем для вас квартиру в новостройке</p>
		</div>
		<div class="col-md-3 col-xs-12">
			<img src="{% static 'img/icon/about/manager.svg' %}" width="100px" height="100px">
			<h4><strong>Персональный менеджер</strong></h4>
			<p>У вас будет персональный специалист по недвижимости который поможет вам с оформлением квартиры</p>
		</div>
		<div class="col-md-3 col-xs-12">
			<img src="{% static 'img/icon/about/excrusion.svg' %}" width="100px" height="100px">
			<h4><strong>Экскурсии</strong></h4>
			<p>Мы предоставим вам трансфер по всем новостройкам</p>
		</div>
	</div>
</div>

<section>
	<div class="container">
		<h2 class="zhk_headline">Цифры компании</h2>
		{% include 'company/company_statistics.html' %}
		<div class="row numbers">
			<div class="col-sm-4 border-rigth">
				<div class="numbers_item_big">5</div>
				<div class="numbers_item_small">Страховых компаний-партнеров</div>
			</div>
			<div class="col-sm-4 border-rigth">
				<div class="numbers_item_big">10</div>
				<div class="numbers_item_small ">Банков-партнеров</div>
			</div>
			<div class="col-sm-4">
				<div class="numbers_item_big">70%</div>
				<div class="numbers_item_small">Ипотечных заявок одобряются</div>
			</div>
		</div>
	</div>
</section>


<section class="slider_diplom">
	<div class="container">
		<h2 class="zhk_headline">Благодарственные письма от партнеров</h2>
		<div class="sleder_diplom_container" data-flickity='{ "groupCells": true, "wrapAround": true }'>
			{% for award in awards %}
				<a href="{{award.image.url}}" class="slider_item" style="background-image: url({{award.image.url}});">
			</a>
			{% endfor %}
		</div>
	</div>
</section>
{% endblock %}