{% extends 'base/base.html'%}
{% load static %}
{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "О компании" "about" %}
{% endblock %}
{% block content %}
<header>
	<section class="rewiews_header" style="background-image: url({% static 'img/about.png' %});">
		<div class="container">
			<div class="row">
				<div class="col-md-12"> 
					<div class="rewiews_header_headline_flex">
						<h1 class="rewiews_header_headline">О компании</h1>
					</div>
				</div>
			</div>
		</div>
	</section>

<section>
	<div class="container">
		<div class="row">
			<div class="col-md-8 ">
				<p><b>Компания &laquo;Домус&raquo;</b>&nbsp;&mdash; официальный представитель ведущих строительных компаний г.&nbsp;Тюмени.</p>
<p><b>Название &laquo;Домус&raquo;</b> выбрано не&nbsp;случайно&nbsp;&mdash; в&nbsp;переводе с&nbsp;латинского означает дом, особняк. Самое главное в&nbsp;жизни человека&nbsp;&mdash; это место, где любят и&nbsp;ждут, где царит идеальная гармония, куда хочется возвращаться каждый день. Своим клиентам мы&nbsp;предлагаем помощь в&nbsp;решении жилищного вопроса, предлагая новый уровень качественных услуг. </p>
<p><b>Миссия:</b> Мы&nbsp;помогаем найти и&nbsp;приобрести квартиру вашей мечты.</p>
<p><b>Наши направления в&nbsp;сфере недвижимости:</b> <br />
&mdash;&nbsp;покупка квартир на&nbsp;рынке новостроек; <br />
&mdash;&nbsp;покупка элитной недвижимости; <br />
&mdash;&nbsp;покупка, продажа квартир на&nbsp;вторичном рынке; <br />
&mdash;&nbsp;брокеридж и&nbsp;управление коммерческой недвижимостью; <br />
&mdash;&nbsp;помощь в&nbsp;оформлении ипотеки, услуги ипотечного брокера; <br />
&mdash;&nbsp;юридические сопровождение сделок; <br />
&mdash;&nbsp;работа по&nbsp;социальным программам (молодая семья, материнский капитал, военная ипотека, бюджетный сертификат).</p>

			</div>
		</div>
	</div>
</section>

<section>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="zhk_headline"> Приемущества компании</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-xs-12">
				<div class="features_about_item">
						<div class="features_about_icon">
							<img src="{% static 'img/icon/about/wallet.svg' %}" width="100px" height="100px">
						</div>
						<div class="features_about_headline">
							 Новостройки без комиссии
						</div>
						<div class="features_about_text">
							Мы являемся представителями застройщиков, поэтому наши услуги бесплатны
						</div>
				</div>
			</div>

			<div class="col-md-3 col-xs-12">
				<div class="features_about_item">
						<div class="features_about_icon">
							<img src="{% static 'img/icon/about/booking.svg' %}" width="100px" height="100px">
						</div>
						<div class="features_about_headline">
							 Бронирование
						</div>
						<div class="features_about_text">
							Мы бесплатно забронируем для вас квартиру в новостройке
						</div>
				</div>
			</div>

			<div class="col-md-3 col-xs-12">
				<div class="features_about_item">
						<div class="features_about_icon">
							<img src="{% static 'img/icon/about/manager.svg' %}" width="100px" height="100px">
						</div>
						<div class="features_about_headline">
							 Персональный менеджер

						</div>
						<div class="features_about_text">
							У вас будет персональный специалист по недвижимости который поможет вам с оформлением квартиры
						</div>
				</div>
			</div>

			<div class="col-md-3 col-xs-12">
				<div class="features_about_item">
						<div class="features_about_icon">
							<img src="{% static 'img/icon/about/excrusion.svg' %}" width="100px" height="100px">
						</div>
						<div class="features_about_headline">
							 Экскурсии
						</div>
						<div class="features_about_text">
							Мы предоставим вам трансфер по всем новостройкам
						</div>
				</div>
			</div>						

		</div>
	</div>
</section>

<section>
	<div class="container">
			<div class="row">
				<div class="col-md-12"> <div class="zhk_headline"> Цифры компании</div></div>
			</div>
				{% include 'company/company_statistics.html' %}
		<div class="row numbers">
						<div class="col-md-4 col-sm-4">
				<div class="numbers_item border-rigth ">
					<div class="numbers_item_big">
					5
					</div>
					<div class="numbers_item_small">
						Страховых компаний-партнеров
					</div>
				</div>
			</div>
						<div class="col-md-4 col-sm-4">
				<div class="numbers_item border-rigth">
					<div class="numbers_item_big">
						10 
					</div>
					<div class="numbers_item_small">
						Банков-партнеров
					</div>
				</div>
			</div>
				<div class="col-md-4 col-sm-4">
				<div class="numbers_item">
					<div class="numbers_item_big">
						70%
					</div>
					<div class="numbers_item_small">
						Ипотечных заявок одобряются
					</div>
				</div>
			</div>						
		</div>
	</div>
</section>


<section class="slider_diplom">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="zhk_headline" style="margin-bottom: 25px;">Благодарственные письма от партнеров</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">

				<div class="sleder_diplom_container" data-flickity='{ "groupCells": true, "wrapAround": true }'>
					<div class="slider_diplom_item">
						<img src="{% static 'img/diplom/1.JPG' %}" alt="" class="img-responsive">
					</div>
										<div class="slider_diplom_item">
						<img src="{% static 'img/diplom/2.JPG' %}" alt="" class="img-responsive">
					</div>
										<div class="slider_diplom_item">
						<img src="{% static 'img/diplom/3.JPG' %}" alt="" class="img-responsive">
					</div>
										<div class="slider_diplom_item">
						<img src="{% static 'img/diplom/4.JPG' %}" alt="" class="img-responsive">
					</div>
										<div class="slider_diplom_item">
						<img src="{% static 'img/diplom/5.JPG' %}" alt="" class="img-responsive">
					</div>
										<div class="slider_diplom_item">
						<img src="{% static 'img/diplom/6.JPG' %}" alt="" class="img-responsive">
					</div>
										<div class="slider_diplom_item">
						<img src="{% static 'img/diplom/7.JPG' %}" alt="" class="img-responsive">
					</div>				
										<div class="slider_diplom_item">
						<img src="{% static 'img/diplom/8.JPG' %}" alt="" class="img-responsive">
					</div>						
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}