{% load real_estate_extras %}
<div class="row numbers">
    <div class="col-sm-4 border-rigth">
        <div class="numbers_item_big">47</div>
        <div class="numbers_item_small">Застройщиков</div>
    </div>
    <div class="col-sm-4 border-rigth">
        <div class="numbers_item_big">87</div>
        <div class="numbers_item_small">Жилых комплексов</div>
    </div>
    <div class="col-sm-4">
        <div class="numbers_item_big">10000</div>
        <div class="numbers_item_small">Вариантов квартир</div>
    </div>  
</div>