<div class="hidden">

<div id="modal_document" class="animate_popup">
	<div class="zhk_headline">
		Документы
	</div>
	<div class="modal_document_item-flex">
		<div class="modal_document_item">
			<i class="fa fa-file-pdf-o" aria-hidden="true"></i><a href=""> Разрешение на ввод в эксплуатацию</a>
		</div>
<div class="modal_document_item">
			<i class="fa fa-file-pdf-o" aria-hidden="true"></i><a href=""> Разрешение на ввод в эксплуатацию</a>
		</div>
<div class="modal_document_item">
			<i class="fa fa-file-pdf-o" aria-hidden="true"></i><a href=""> Разрешение на ввод в эксплуатацию</a>
		</div>
<div class="modal_document_item">
			<i class="fa fa-file-pdf-o" aria-hidden="true"></i><a href=""> Разрешение на ввод в эксплуатацию</a>
		</div>
<div class="modal_document_item">
			<i class="fa fa-file-pdf-o" aria-hidden="true"></i><a href=""> Разрешение на ввод в эксплуатацию</a>
		</div>
<div class="modal_document_item">
			<i class="fa fa-file-pdf-o" aria-hidden="true"></i><a href=""> Разрешение на ввод в эксплуатацию</a>
		</div>
<div class="modal_document_item">
			<i class="fa fa-file-pdf-o" aria-hidden="true"></i><a href=""> Разрешение на ввод в эксплуатацию</a>
		</div>
<div class="modal_document_item">
			<i class="fa fa-file-pdf-o" aria-hidden="true"></i><a href=""> Разрешение на ввод в эксплуатацию</a>
		</div>														
	</div>
</div>
</div>