<div class="hidden">
<div id="modal_plan" class="animate_popup">


						<div class="modal_plan_img" style="background-image: url(img/plan.png);">
							

					</div>
						<div class="modal_plan_description">
							<div class="modal_plan_name">
								Однокомнатная кваритра
							</div>
							<div class="modal_plan_price">
								<div class="modal_plan_price_big">
									1 800 000 руб. 
								</div>
								<div class="modal_plan_price_small">
									Цена за кв. метр <span>50 000 руб.</span> 
								</div>
							</div>
							<div class="modal_plan_metr">
								<div class="modal_plan_name_small">
									Площадь
								</div>
								<div class="modal_plan_metr_all">
									<div class="modal_plan_metr_features">
										Общая <span>29,39м2</span>
									</div>
																		<div class="modal_plan_metr_features">
										Общая <span>29,39м2</span>
									</div>
																		<div class="modal_plan_metr_features">
										Общая <span>29,39м2</span>
									</div>
																		<div class="modal_plan_metr_features">
										Общая <span>29,39м2</span>
									</div>
																		<div class="modal_plan_metr_features">
										Общая <span>29,39м2</span>
									</div>
																		<div class="modal_plan_metr_features">
										Общая <span>29,39м2</span>
									</div>
								</div>
							</div>
							<div class="modal_plan_form">
							<div class="modal_plan_name_small">
									Записаться на просмотр
								</div>
						<form action="" class="cta_form">

					<input type="text" placeholder="Телефон" id="popup_input">
					<button class="btn_large">Жду звонка</button>
				</form>
							</div>
						</div>
</div>


</div>