{% extends 'new_buildings/residental_complex_list.html'%}
{% load real_estate_extras %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
	{{ block.super }}
	{% breadcrumb residental_complex "new_buildings:residental-complex-detail" residental_complex.id %}
{% endblock %}
{% block content %}
<div>
	<div class="header_zhk">
		<div class="header_zhk_img" style='background-image: url({{ residental_complex.get_title_photo_url }});'>
			<div class="header_zhk_filter" style="  background-image: linear-gradient(to bottom, rgba(60, 61, 73, 0.27), rgba(0, 0, 0, 0.0));">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="header_zhk_name">
							<h1>{{residental_complex.type_of_complex|capfirst}} {{ residental_complex|capfirst }}</h1>
							<h2>Застройщик {{ residental_complex.builder }}</h2>
							</div>


						</div>
					</div>
			</div>
								<div class="container">
								<div class="header_zhk_description ">
								<div class="header_zhk_description_item-frist">
									<p class="header_zhk_description_p">Материал стен<br> <span> {{ building_types }}</span></p>
								</div>
								<div class="header_zhk_description_item">
<p class="header_zhk_description_p">Квартир в ЖК<br> <span>{{ residental_complex.count_flats }}</span></p>
								</div>
								<div class="header_zhk_description_item">
<p class="header_zhk_description_p">Срок сдачи<br> <span> {{ residental_complex.get_latest_date_of_building}}</span></p>
								</div>
								<div class="header_zhk_description_item-last">
<p class="header_zhk_description_p">Количесво домов<br> <span>{{ residental_complex.count_buildings }}</span></p>
								</div>                                                              
							</div>
							</div>
				</div>

		</div>
	</div>
</div>

<section class="map_and_cta"> 
	<div id="myMap" class="map">
		{% if yandex_grid_center_json %}
			{% include 'new_buildings/api-yandex-map.html' %}
		{% else %}
			<h2 class="container">Местоположение не доступно</h2>
		{% endif %}
	</div>
	<div class="cta_header">
		<p class="cta_header_headline">
			Записаться на экскурсию
		</p>
		<form action="">
			<input type="text" class="medium_input" placeholder="Телефон">
			<br>
			<button class="cta_header_btn"> Записатьcя</button>
		</form>
	</div>
</section>

<section class="zhk_description">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-xs-12">
			<div class="zhk_headline">
				О <!--комплексе--> {{residental_complex.type_of_complex.get_loct}} 
			</div>
				<div class="zhk_description_advantage">
				<p>{{ residental_complex.description }}</p>
				</div>

			</div>
		</div>
		<h2 class="zhk_description_headline">Характеристики <!--'комплекса'-->{{residental_complex.type_of_complex.get_gent}}</h2>
		<div class="zhk_characteristics">
			{% include "new_buildings/residental_complex_characteristic.html"%}
		</div>
		<br><br><br>
		
		<!-- JS, который срабатывает при нажатии должен подхватывать url тот же, что и ниже -->

	<div class="carousel zhk_slider"   data-flickity='{"wrapAround": true }'>
		{% for photo_obj in residental_complex.photos.all %}
		<a href="{{photo_obj.image.url}}" class="slider_item" style="background-image: url({{photo_obj.image.url}});">
			<div class="slider_item_hover">
				 <div class="slider_icon_search">
						Увеличить фотографию <br><i class="fa fa-search-plus " aria-hidden="true"></i>          
				 </div>
			</div>          
		</a>
		{% endfor %}
	</div>


		<div class="row">
			<div class="col-md-10 col-xs-12">
				<div class="zhk_description_headline">
					Особенности <!--жилого комплекса-->{{residental_complex.type_of_complex.get_gent}} {{residental_complex}}
				</div>
			</div>
			<div class="col-md-12 col-xs-12">
				{% include "new_buildings/residental_complex_feature.html"%}
			</div>
		</div>

	{% if residental_complex.video_link %}
		<div class="row" style="margin-top: 50px;">
			<div class="col-md-12 col-xs-12">
				<a href="{{residental_complex.video_link}}" class="popup_video">
					<div  class="zhk_video" style="background-image: url({{ residental_complex.get_title_photo_url }});">
						<div class="zhk_video_filter">
							<div class="zhk_video_headline">
								Посмотрите видео о {{residental_complex.type_of_complex.get_loct}} {{residental_complex}}
							</div>
							<div class="zhk_video_cta">
								Смотреть видео <i class="fa fa-play-circle-o" aria-hidden="true"></i>
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>
	{% endif %}
</section>

{% with 'Задать вопросы о '|add:residental_complex.type_of_complex.get_loct as callback_form_title %}
	{% include 'contacts/callback_form_implemented.html' %}
{% endwith %}

<section class="special_offers">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-xs-12">
				<div class="zhk_headline" style="margin-bottom: 50px;">
					Специальные предложения
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-xs-12">
				<div class="sale">
					<p class="special_offers_headline">
						Скидки
					</p>
					<p class="special_offers_numbers">
						2%
					</p>
					<p class="special_offers_description">
						При 100% оплате квартиры 
					</p>
				</div>
			</div>
			<div class="col-md-4 col-xs-12">
				<div class="installment">
					<p class="special_offers_headline">
						Рассрочка  <br>на
					
					<span class="special_offers_numbers">
						36 
					</span>
					 месяцев
					</p>
					<p class="special_offers_description">
						При 100% оплате квартиры 
					</p>
				</div>
			</div>
			<div class="col-md-5 col-xs-12">
				<div class="special_offers_more">
					<p class="special_offers_headline">Узнать больше</p>
					<form action="" class="special_offers_form">
						<input type="text" class="small_input" placeholder="Телефон">
						<button class="btn_small">Узнать</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>  
<section >
	<div class="rooms">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-xs-12">
				<div class="zhk_headline">Выбрать кваритру в <!--жилом комплексе--> {{residental_complex.type_of_complex.get_loct}} {{residental_complex}}</div>
			</div>
		</div>
	</div>

		<div class="container">

			<div class="row">
				<div class="col-md-12 apartment-filter">
					<div class="search_room-flex">
						<div class="search-form-room-flex">
						<div class="search-form-name">Количество комнат</div>
						<div class="btn-group search-room-btn-flex">
						<label class="search-btn">
							<label for="id_rooms_B">
								<input name="rooms" value="B" id="id_rooms_B" class="checkbox" type="checkbox"/>
								C
							</label>
						</label>
						{% for i in '123'%}
							<label class="search-btn button">
								<label for="id_rooms_{{i}}">
									<input name="rooms" value="{{i}}" id="id_rooms_{{i}}" class="checkbox" type="checkbox"/>
									{{i}}
								</label>
							</label>
						{% endfor %}
						<label class="search-btn button">
							<label for="id_rooms_4+">
								<input name="rooms" value="4+" id="id_rooms_4+" class="checkbox" type="checkbox"/>
								4+
							</label>
						</label>
						</div>
					</div>


						<div class="search_price-flex search_price-flex-border-right-none">
						<div class="search-form-name">Стоимость</div>
						<div class="search_form_price_container search_price-flex-border-bottom">
						<div class="search_form_price">

						<input id="price_from" type="number" step="any" name='price' placeholder="от">
					</div>
						<div class="search_form_price">
							<input id="price_to" type="number" step="any" name='price' placeholder="до">
						</div>
						</div>
					</div>


						<div class="search_price-flex">
						<div class="search-form-name">Количество метров</div>
						<div class="search_form_price_container ">
						<div class="search_form_price">

						<input type="number" id='total_area_from' name='area' class="" placeholder="от" step="any" >
					</div>
						<div class="search_form_price">
						<input type="number" id='total_area_to' name='area' class="" placeholder="до" step="any" >
						</div>
						</div>
					</div>


					<div class="select_home-flex">
					<div class="search-form-name">Выбор дома</div>
						<div class="search_form_select">
							<select class='search_form_select-select building-selects'>
								<option value="">Все дома</option>
								{% for building in residental_complex.get_new_buildings %}
									<option value="{{building.id}}">
										{{building}}
									</option>
								{% endfor %}
							</select>
						</div>
					</div>
				</div>          
			</div>
		</div>
	</div>
</div>
	{# <p id="output">--</p> #}
	<div class="container">
		<div class="row grid">
		{% for building in residental_complex.get_new_buildings %}
			{% for apartment in building.get_apartments %}
				{% include "new_buildings/apartment_short.html"%}
			{% endfor %}
		{% endfor %}
		<div class="col-xs-12 element-item" id="empty-filter-result" hidden>
			<p>Подходящие квартиры не найдены</p>
		</div>
		</div>
	</div>

</section>

<section class="ipoteka" style="background-image: url({% static 'img/ipoteka.png' %});">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-xs-12">
				<div class="zhk_headline">Ипотека</div>
				<div class="ipoteka_headline">от <span class="ipoteka_percent"> 7%</span></div>
				<div class="ipoteka_description">
					Мы работаем с 10 ведущими банками
				</div>
			</div>
			<div class="col-md-12 col-xs-12">
				<div class="slider_ipoteka scrollyeah" data-shadows="false">
				{% for i in '----------' %}
					<div class="slider_ipoteka_item">
						<div class="slider_ipoteka_item_logo" style="background-image: url({% static 'img/icon/sberbank.png' %});">
						</div>
						<div class="slide_ipoteka_item_name">
							Сбербанк
						</div>
					</div>
				{% endfor %}
				</div>
				<button class="btn_large">Рассчитать ипотеку</button>
			</div>
		</div>
	</div>
</section>

{% with callback_form_title='Задать вопросы о ипотеке' %}
	{% include 'contacts/callback_form_implemented.html' %}
{% endwith %}

<section class="soc_prog" style="background-image: url({% static 'img/shutterstock_450844792.jpg' %});">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-xs-12">
				<div class="zhk_headline">Социальные программы</div>
				<div class="ipoteka_description">
					Мы работаем с жилищными програмами
				</div>
			</div>
			<div class="col-md-12 col-xs-12">
				<div class="slider_soc_prog scrollyeah" data-shadows="false">
					<a href="#modal_soc_prog" class="slider_soc_prog_item">
						<div class="slide_soc_prog_item_name">
							Молодая семья
						</div>
					</a>
						<a class="slider_soc_prog_item">
						<div class="slide_soc_prog_item_name">
							Материнский капитал
						</div>
					</a>
						<a class="slider_soc_prog_item">
						<div class="slide_soc_prog_item_name">
							Программа по побеспечению жильем работников бюджетной сферы
						</div>
					</a>
						<a class="slider_soc_prog_item">
						<div class="slide_soc_prog_item_name">
							Жилищьная программа по для бывших военнослужащих
						</div>
					</a>
						<a class="slider_soc_prog_item">
						<div class="slide_soc_prog_item_name">
							Военная ипотека
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>

{% for building in residental_complex.get_new_buildings %}
	{% include "new_buildings/building_documents.html"%}
{% endfor %}

{% include 'new_buildings/residental_complex_detail_popup.html' %}
<script type="text/javascript">
	var apartments_json = {{ residental_complex.get_new_apartments_json }};
	var buildings_json = {{ residental_complex.get_new_buildings_json }};
</script>
<script src='{% static "new_buildings/js/apartment_filter.js"%}'></script>
{% endblock %}