{% extends 'new_buildings/base.html'%}
{% load static %}
{% block content %}
<header>
	<div class="header_zhk">
		<div class="header_zhk_img" style='background-image: url({{ residental_complex.get_title_photo_url }});'>
			<div class="header_zhk_filter" style="	background-image: linear-gradient(to bottom, rgba(60, 61, 73, 0.27), rgba(0, 0, 0, 0.0));">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="header_zhk_name">
							<h1>{{ residental_complex }}»</h1>
							<h2>Застройщик {{ residental_complex.builder }}</h2>
							</div>


						</div>
					</div>
			</div>
								<div class="container">
								<div class="header_zhk_description ">
								<div class="header_zhk_description_item-frist">
									<p class="header_zhk_description_p">Материал стен<br> <span> {{ residental_complex.building_type }}</span></p>
								</div>
								<div class="header_zhk_description_item">
<p class="header_zhk_description_p">Квартир в ЖК<br> <span>{{ residental_complex.count_flats }}</span></p>
								</div>
								<div class="header_zhk_description_item">
<p class="header_zhk_description_p">Срок сдачи<br> <span> {{ residental_complex.get_latest_date_of_building|date:"F Y"}}</span></p>
								</div>
								<div class="header_zhk_description_item-last">
<p class="header_zhk_description_p">Количесво домов<br> <span>{{ residental_complex.count_buildings }}</span></p>
								</div>																
							</div>
							</div>
				</div>

		</div>
	</div>
</header>
<section class="map_and_cta"> 



			<div class="map">
				<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ac3e789654f6d2829b8fe6d72bdeff6bca03a750d7b5d822e802b4d117dd85020&amp;width=100%25&amp;height=270&amp;lang=ru_RU&amp;scroll=false"></script>
			</div>


			<div class="cta_header">
				<p class="cta_header_headline">
					Записаться на экскурсию
				</p>
				<form action="">
				<input type="text" class="medium_input" placeholder="Телефон">
				<br>
				<button class="cta_header_btn"> Записатьcя</button>
				</form>
	</div>


</section>

<section class="zhk_description">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-xs-12">
			<div class="zhk_headline">
				О комплексе 
			</div>
				<div class="zhk_description_advantage">
				<p>{{ residental_complex.description }}</p>
				</div>

			</div>
		</div>
	</div>

	<div class="zhk_slider scrollyeah" data-shadows="false" >
		<div class="slider_item" style="background-image: url(img/catalog-bg.png);">
			<div class="slider_item_hover">
				 <div class="slider_icon_search">
						<i class="fa fa-search-plus fa-3x " aria-hidden="true"></i>
				 </div>
			</div>			
		</div>						
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-8 col-xs-12">
		
				<div class="zhk_description_headline">
					Особенности жилого комплекса «{{residental_complex}}»
				</div>

			</div>
		</div>

	{% include "new_buildings/residental_complex_feature.html"%}


<div class="row">
	<div class="col-md-12 col-xs-12">
		<div href="#" class="zhk_video" style="background-image: url(img/catalog-bg.png);">
			<div class="zhk_video_filter">
				<div class="zhk_video_headline">
					Посмотрите видео о жилом комплексе «{{residental_complex}}»
				</div>
				<div class="zhk_video_cta">
					Смотреть видео <i class="fa fa-play-circle-o" aria-hidden="true"></i>

				</div>
			</div>
		</div>
	</div>
</div>

	</div>

</section>

<section class="cta">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-xs-12" style="border-right: 1px solid #c2c4d0;">
				<div class="cta_headline">
					Задать вопросы о жилом комплексе
				</div>
				<p class="cta_text" style="margin: 60px 0 5px;">Заказать обратный звонок</p>
				<form action="" class="cta_form">

					<input type="text" placeholder="Телефон">
					<button class="btn_large">Жду звонка</button>
				</form>
			</div>
			<div class="col-md-4 col-xs-12">
				<p class="cta_text" style="margin-bottom: 0 ;">Позвонить по телефону </p>
				<p class="cta_telephone">
					+ 7 (999) 999 99 99
				</p>
				<div class="cta_messenger">
				<p class="cta_text" style="margin-top: 37px ; margin-bottom: 0;">Написать менеджеру в чат</p>
				<a href="" class="socil_messenger"><img src="img/icon/fb.svg"
		 class="fb"></a>
				<a href="" class="socil_messenger"><img src="img/icon/vk.svg"
		 class="vk"></a>
				<a href="" class="socil_messenger"><img src="img/icon/tg.svg"
		 class="tg"></a>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="special_offers">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-xs-12">
				<div class="zhk_headline" style="margin-bottom: 50px;">
					Специальные предложения
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-xs-12">
				<div class="sale">
					<p class="special_offers_headline">
						Скидки
					</p>
					<p class="special_offers_numbers">
						2%
					</p>
					<p class="special_offers_description">
						При 100% оплате квартиры 
					</p>
				</div>
			</div>
			<div class="col-md-4 col-xs-12">
				<div class="installment">
					<p class="special_offers_headline">
						Рассрочка  <br>на
					
					<span class="special_offers_numbers">
						36 
					</span>
					 месяцев
					</p>
					<p class="special_offers_description">
						При 100% оплате квартиры 
					</p>
				</div>
			</div>
			<div class="col-md-5 col-xs-12">
				<div class="special_offers_more">
					<p class="special_offers_headline">Узнать больше</p>
					<form action="" class="special_offers_form">
						<input type="text" class="small_input" placeholder="Телефон">
						<button class="btn_small">Узнать</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>	
<section >
	<div class="rooms">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-xs-12">
				<div class="zhk_headline">Выбрать кваритру в жилом комплексе «{{residental_complex}}»</div>
			</div>
		</div>
	</div>

		<div class="container">
				<div class="search_room">
			<div class="row">
				<div class="col-md-3">
						<div class="search-form-room">
						<div class="search-form-name">Количество комнат</div>
						<div class="search-room-btn">
						<button class="search-btn">1</button>
						<button class="search-btn">2</button>
						<button class="search-btn">3</button>
						<button class="search-btn">4+</button>
						</div>
					</div>
				</div>
				<div class="col-md-3">
						<div class="search_price">
						<div class="search-form-name">Стоимость</div>
						<div class="search_form_price_container">
						<div class="search_form_price">

						<input type="text" value="" name="" class="" placeholder="от">
					</div>
						<div class="search_form_price">
						<input type="text" value="" name="" class="" placeholder="до" >
						</div>
						</div>
					</div>
				</div>
				<div class="col-md-3">
						<div class="search_price">
						<div class="search-form-name">Количество метров</div>
						<div class="search_form_price_container">
						<div class="search_form_price">

						<input type="text" value="" name="" class="" placeholder="от">
					</div>
						<div class="search_form_price">
						<input type="text" value="" name="" class="" placeholder="до" >
						</div>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="select_home">
					<div class="search-form-name">Выбор дома</div>
						<div class="search_form_select">
						ГП — 18<br>
						<span>Срок сдачи 2018г. <i class="fa fa-sort" aria-hidden="true"></i></span>
						</div>
						</div>
				</div>				
			</div>
		</div>

	</div>
</div>
	<div class="container">
		<div class="row">
		{% for apartment in residental_complex.get_new_buildings.0.get_apartments %}
			{% include "new_buildings/apartment_short.html"%}
		{% endfor %}																		
		</div>
	</div>

</section>
<section class="ipoteka" style="background-image: url(img/ipoteka.png);">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-xs-12">
				<div class="zhk_headline">Ипотека</div>
				<div class="ipoteka_headline">от <span class="ipoteka_percent"> 7%</span></div>
				<div class="ipoteka_description">
					Мы работаем с 10 ведущими банками
				</div>
			</div>
			<div class="col-md-12 col-xs-12">
				<div class="slider_ipoteka scrollyeah" data-shadows="false">
					<div class="slider_ipoteka_item">
						<div class="slider_ipoteka_item_logo" style="background-image: url(img/icon/sberbank.png);">
							
						</div>
						<div class="slide_ipoteka_item_name">
							Сбербанк
						</div>
					</div>
						<div class="slider_ipoteka_item">
						<div class="slider_ipoteka_item_logo" style="background-image: url(img/icon/sberbank.png);">
							
						</div>
						<div class="slide_ipoteka_item_name">
							asdasd;lasldalsdkal;sdla;sd
						</div>
					</div>
						<div class="slider_ipoteka_item">
						<div class="slider_ipoteka_item_logo" style="background-image: url(img/icon/sberbank.png);">
							
						</div>
						<div class="slide_ipoteka_item_name">
							asdasd;lasldalsdkal;sdla;sd
						</div>
					</div>
						<div class="slider_ipoteka_item">
						<div class="slider_ipoteka_item_logo" style="background-image: url(img/icon/sberbank.png);">
							
						</div>
						<div class="slide_ipoteka_item_name">
							asdasd;lasldalsdkal;sdla;sd
						</div>
					</div>
						<div class="slider_ipoteka_item">
						<div class="slider_ipoteka_item_logo" style="background-image: url(img/icon/sberbank.png);">
							
						</div>
						<div class="slide_ipoteka_item_name">
							asdasd;lasldalsdkal;sdla;sd
						</div>
					</div>
						<div class="slider_ipoteka_item">
						<div class="slider_ipoteka_item_logo" style="background-image: url(img/icon/sberbank.png);">
							
						</div>
						<div class="slide_ipoteka_item_name">
							asdasd;lasldalsdkal;sdla;sd
						</div>
					</div>
						<div class="slider_ipoteka_item">
						<div class="slider_ipoteka_item_logo" style="background-image: url(img/icon/sberbank.png);">
							
						</div>
						<div class="slide_ipoteka_item_name">
							asdasd;lasldalsdkal;sdla;sd
						</div>
					</div>
						<div class="slider_ipoteka_item">
						<div class="slider_ipoteka_item_logo" style="background-image: url(img/icon/sberbank.png);">
							
						</div>
						<div class="slide_ipoteka_item_name">
							asdasd;lasldalsdkal;sdla;sd
						</div>
					</div>
						<div class="slider_ipoteka_item">
						<div class="slider_ipoteka_item_logo" style="background-image: url(img/icon/sberbank.png);">
							
						</div>
						<div class="slide_ipoteka_item_name">
							asdasd;lasldalsdkal;sdla;sd
						</div>
					</div>																																			
				</div>
				<button class="btn_large">Рассчитать ипотеку</button>
			</div>
		</div>
	</div>
</section>
<section class="cta">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-xs-12" style="border-right: 1px solid #c2c4d0;">
				<div class="cta_headline">
					Задать вопросы о ипотеке
				</div>
				<p class="cta_text" style="margin: 60px 0 5px;">Заказать обратный звонок</p>
				<form action="" class="cta_form">

					<input type="text" placeholder="Телефон">
					<button class="btn_large">Жду звонка</button>
				</form>
			</div>
			<div class="col-md-4 col-xs-12">
				<p class="cta_text" style="margin-bottom: 0 ;">Позвонить по телефону </p>
				<p class="cta_telephone">
					+ 7 (999) 999 99 99
				</p>
				<div class="cta_messenger">
				<p class="cta_text" style="margin-top: 37px ; margin-bottom: 0;">Написать менеджеру в чат</p>
				<a href="" class="socil_messenger"><img src="img/icon/fb.svg"
		 class="fb"></a>
				<a href="" class="socil_messenger"><img src="img/icon/vk.svg"
		 class="vk"></a>
				<a href="" class="socil_messenger"><img src="img/icon/tg.svg"
		 class="tg"></a>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}