<!--На среднем экране, если последний элемент нечетный, то будет отображаться на всю ширину окна. Если так не надо убери - {% if forloop.last and not forloop.counter|divisibleby:2 %}12{% else %}6{% endif %} и вместо него поставь 6 -->
<div class="col-md-{% if forloop.last and not forloop.counter|divisibleby:2 %}12{% else %}6{% endif %} col-xs-12">
	<a href='{{ residental_complex.get_absolute_url }}' class="item">
		<div class="item-images" style="background-image: url({{ residental_complex.get_title_photo_url }});">
			<div class="item-filter">
				<p class="item-headline">
					{{ residental_complex }}
				</p>
				<!-- Условие, чтобы не показывало что попало вместо цены, если данных нет-->
				{% if residental_complex.get_lowest_price %}
					<p class="item_price">
						<span style="font-size: 14px;">от</span>{{ residental_complex.get_lowest_price }} ₽
					</p>
				{% endif %}
				<p class="item-description">
					{{ residental_complex.description }}
				</p>
				<div class="item-info-hover">
					<p class="item-info-text">Срок сдачи: {{ residental_complex.get_latest_date_of_building|date:"F Y"}}</p>
					<p class="item-info-btn">Выбрать квартиру</p>
				</div>
		</div>
		</div>
		</a>
</div>