{% extends 'new_buildings/base.html'%}
{% load static %}
{% block content %}
<header>
<section>
<div class="header" style='background-image: url({% static "new_buildings/img/catalog-bg.png"%});'>
		<div class="container">
	<div class="row">
		<div class="col-md-10">
				<h1>Все новостройки Тюмени</h1>
		</div>
	</div>

</div>		
	</div>
</section>
</header>
<section class="search-section">

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="search" style="margin-top: -60px;">
				<form action="" class="search-form">
					<div class="search-form-place">
						<span class="search-form-name">Место нахождение</span>
						<input type="text" value="" name="" class="search-form-place-input" placeholder="Район, улица, название ЖК">

					</div>
					<div class="search-form-price-container">
						<div class="search-form-price">
						<span class="search-form-name">Стоимость</span>
						<input type="text" value="" name="" class="search-form-price-input" placeholder="от">
						</div>
						<div class="search-form-price">
						<input type="text" value="" name="" class="search-form-price-input" placeholder="до">
						</div>
						
					</div>
					<div class="search-form-year">
						<span class="search-form-name">Заселение до </span>
						<div class="search-form-year-select">
							Не имеет значение
						</div>
					</div>

				</form>
			</div>
		</div>
	</div>
</div>
</section>
<br>
<section class="catalog">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				{% for residental_complex in residental_complexes %}
					{% include "new_buildings/residental_complex_short.html" %}
				{% empty %}
					<h1>К сожалению, на текущий момент новостройки недоступны</h1>
				{% endfor %}
			</div>
		</div>
	</div>
</section>
<footer>
	<br>
</footer>
{% endblock %}