{% extends 'base/base.html'%}
{% load static %}
{% block content %}
<section>
	{% include 'new_buildings/forms/search.html' %}
</section>



<br>
<section class="catalog">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				{% for residental_complex in residental_complexes %}
					{% include "new_buildings/residental_complex_short.html" %}
				{% empty %}
					<h1>Подходящее жилье не найдено</h1>
				{% endfor %}
			</div>
		</div>
	</div>
</section>
<footer>
	<br>
</footer>
{% endblock %}