{% extends "admin/change_form.html" %}
{% load i18n admin_urls static %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "accounts/css/change_form.css" %}"/>
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    {% if title %} &rsaquo; {{ title }}{% endif %}
    </div>
{% endblock %}


{% block content %}
{% if user.has_usable_password %}
<a class="btn btn-default" href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a>
{% endif %}
{{ block.super }}
{% endblock %}

{% block object-tools %}
  <ul class="object-tools">
    <li><a href="{{ link.get_absolute_url }}" class="viewsitelink">{% trans "View on site" %}</a></li>
  </ul>
{% endblock %}