<!DOCTYPE html>
<html lang="ru">

<head>

	<meta charset="utf-8">

	<title>Title</title>
	<meta name="description" content="">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<meta property="og:image" content="path/to/image.jpg">
	<link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&amp;subset=cyrillic" rel="stylesheet">


	<!-- Chrome, Firefox OS and Opera -->
	<meta name="theme-color" content="#000">
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="#000">
	<!-- iOS Safari -->
	<meta name="apple-mobile-web-app-status-bar-style" content="#000">

	<style>body { opacity: 0; overflow-x: hidden; } html { background-color: #fff; }</style>

</head>

<body>
		<nav>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="top_nav">
			<div class="top_nav_logo">
				<img src="img/logo.svg" alt="" class="img-responsive">
			</div>
			<div class="phone">
				<div class="phone_description">
					Звоните ежедневно с 8:00 до 22:00
				</div>
				<div class="phone_number">
									+7 (3452) 589-881
				</div>

				<a href="#modal_callback" class="callback">Заказать обратный звонок</a>
			</div>
		</div>
	</div>
		</div>
<div class="row">
	<div class="col-md-12">
				<div class="menu">
				<div class="menu_logo">
				<img src="img/logo.svg" alt="" class="img-responsive">
							<a href="#" class="toggle-mnu hidden-lg"><span></span></a>
			</div>

			<ul class="menu_container">
				<li><a href="new_home_search.html">Новостройки</a></li>
				<li><a href="">Ипотека</a></li>
				<li><a href="">Копротивная программа</a></li>
				<li><a href="">Отзывы</a></li>
				<li><a href="">О компани</a></li>
				<li><a href="">Контакты</a></li>
			</ul>

		</div>

	</div>
</div>

		
				</div>

</nav>	
<header>
<section>
<div class="header emerge" style="background-image: url(https://news.vsemetri.com/files/posts/2016/07/07/577de54b4579e.jpg);">
		<div class="container">
	<div class="row">
		<div class="col-md-12">
				<h1 class="main_header_headline">Новостройки от застройщика в Тюмени</h1>
				<h2 class="main_header_headline_2">Бесплатный поиск квартир в новостройках</h2>
		</div>
	</div>
<div class="row emerge" data-effect="slide" data-expose="true">
				<div class="col-md-12">
									<div class="search_room-flex">
						<div class="search-form-room-flex">
						<div class="search-form-name">Количество комнат</div>
						<div class="search-room-btn-flex">
						<button class="search-btn">1</button>
						<button class="search-btn">2</button>
						<button class="search-btn">3</button>
						<button class="search-btn">4+</button>
						</div>
					</div>


						<div class="search_price-flex search_price-flex-border-right-none">
						<div class="search-form-name">Стоимость</div>
						<div class="search_form_price_container search_price-flex-border-bottom">
						<div class="search_form_price">

						<input type="text" value="" name="" class="" placeholder="от">
					</div>
						<div class="search_form_price">
						<input type="text" value="" name="" class="" placeholder="до" >
						</div>
						</div>
					</div>


						<div class="search_price-flex">
						<div class="search-form-name">Количество метров</div>
						<div class="search_form_price_container ">
						<div class="search_form_price">

						<input type="text" value="" name="" class="" placeholder="от">
					</div>
						<div class="search_form_price">
						<input type="text" value="" name="" class="" placeholder="до" >
						</div>
						</div>
					</div>


					<div class="select_home-flex">
					<div class="search-form-name">Заселение</div>
						<div class="search_form_select">
						<div> до 2018г. <i class="fa fa-sort" aria-hidden="true"></i></div>
						</div>
						</div>

				</div>	
							<div class="search_place">

					<form action="">
						<input type="text" placeholder="Название улицы, района, или жилого комплекса" class="search_place_input">
						<button class="btn_large"> Найти</button>
					</form>

			</div>		
			</div>

		</div>



</div>		
	</div>
</section>
</header>

<section class="company emerge" data-effect="slide" data-expose="true">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="zhk_headline">
					О компании
				</div>
				<div class="company_description">
					Центр новостроек «DОМУС» — помогает выбрать и преобрести квартиру вашей мечты
				</div>
			</div>
			<div class="col-md-4">
				<div class="company_features">
					Работаем со всем строительными компаниями Тюмени
				</div>
			</div>
			<div class="col-md-4">
				<div class="company_features">
					Помогаем найти жилье для семей 
					с детьми, молодых пар, студентов 
					и пенсионеров
				</div>
			</div>
			<div class="col-md-4">
				<div class="company_features">
Не навязываем решение. Мы не зависим от строительных компаний. Честно расскажем вам о 
достоинствах и недостатках конкретных объектов. Не будем настаивать на покупке
				</div>
			</div>
		</div>
			<div class="row numbers">
						<div class="col-md-4 col-sm-4">
				<div class="numbers_item border-rigth">
					<div class="numbers_item_big">
						27
					</div>
					<div class="numbers_item_small">
						Застройщиков
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="numbers_item border-rigth">
					<div class="numbers_item_big">
						77
					</div>
					<div class="numbers_item_small">
						Жилых комплексов
					</div>
				</div>
			</div>
									<div class="col-md-4 col-sm-4">
				<div class="numbers_item ">
					<div class="numbers_item_big">
						10 000
					</div>
					<div class="numbers_item_small">
						Вариантов квартир
					</div>
				</div>
			</div>	
</div>
		</div>
	</div>
</section>

<section class="mortage emerge" data-effect="slide" data-expose="true" style="background-image: url(img/ipoteka.png);">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="zhk_headline">
					Ипотека
				</div>
				<div class="ipoteka_headline">от <span class="ipoteka_percent"> 7%</span></div>
			</div>
			<div class="col-md-10">
				<div class="company_description">
					Бесплатно оформляем ипотеку за 4 - 10 дней 
				</div>
			</div>
		</div>
		<div class="row numbers">
						<div class="col-md-4 col-sm-4">
				<div class="numbers_item border-rigth ">
					<div class="numbers_item_big">
					5
					</div>
					<div class="numbers_item_small">
						Страховых компаний-партнеров
					</div>
				</div>
			</div>
						<div class="col-md-4 col-sm-4">
				<div class="numbers_item border-rigth">
					<div class="numbers_item_big">
						10 
					</div>
					<div class="numbers_item_small">
						Банков-партнеров
					</div>
				</div>
			</div>
				<div class="col-md-4 col-sm-4">
				<div class="numbers_item">
					<div class="numbers_item_big">
						70%
					</div>
					<div class="numbers_item_small">
						Ипотечных заявок одобряются
					</div>
				</div>
			</div>						
		</div>
	</div>
</section>

<section class="reviews emerge" data-effect="slide" data-expose="true">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="zhk_headline">
					Отзывы клиентов
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-xs-12">
				<div class="reviews_slider" data-flickity>
				<div class="reviews_item">
					<div class="reviews_item_photo" style="background-image: url(https://static.tildacdn.com/tild3537-3665-4663-a163-306665323338/fab48e7714fe49708adc.jpg);">
						
					</div>
										<div class="reviews_item_text">
						Выражаю благодарность Игорю Задачину за профессионализм, высокие деловые качества, работоспособность, умение внимательно и тактично общаться с клиентами.
Желаю компании " ДОМУС " дальнейшего благополучия и процветания.
					<div class="reviews_item_description">
						Анастасия Скворцова
Приобрела квартиру в ЖК «Звездный городок»
					</div>
					</div>


				</div>

				<div class="reviews_item">
					<div class="reviews_item_photo" style="background-image: url(https://static.tildacdn.com/tild3537-3665-4663-a163-306665323338/fab48e7714fe49708adc.jpg);">
						
					</div>
										<div class="reviews_item_text">
						Выражаю благодарность Игорю Задачину за профессионализм, высокие деловые качества, работоспособность, умение внимательно и тактично общаться с клиентами.
Желаю компании " ДОМУС " дальнейшего благополучия и процветания.
					<div class="reviews_item_description">
						Анастасия Скворцова
Приобрела квартиру в ЖК «Звездный городок»
					</div>
					</div>


				</div>
				<div class="reviews_item">
					<div class="reviews_item_photo" style="background-image: url(https://static.tildacdn.com/tild3537-3665-4663-a163-306665323338/fab48e7714fe49708adc.jpg);">
						
					</div>
										<div class="reviews_item_text">
						Выражаю благодарность Игорю Задачину за профессионализм, высокие деловые качества, работоспособность, умение внимательно и тактично общаться с клиентами.
Желаю компании " ДОМУС " дальнейшего благополучия и процветания.
					<div class="reviews_item_description">
						Анастасия Скворцова
Приобрела квартиру в ЖК «Звездный городок»
					</div>
					</div>


				</div>
				<div class="reviews_item">
					<div class="reviews_item_photo" style="background-image: url(https://static.tildacdn.com/tild3537-3665-4663-a163-306665323338/fab48e7714fe49708adc.jpg);">
						
					</div>
										<div class="reviews_item_text">
						Выражаю благодарность Игорю Задачину за профессионализм, высокие деловые качества, работоспособность, умение внимательно и тактично общаться с клиентами.
Желаю компании " ДОМУС " дальнейшего благополучия и процветания.
					<div class="reviews_item_description">
						Анастасия Скворцова
Приобрела квартиру в ЖК «Звездный городок»
					</div>
					</div>


				</div>												
				</div>
			</div>
		</div>
	</div>
</section>
			
<section class="top_zhk">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="zhk_headline">
					Популярные жилые комплексы
				</div>
			</div>
			<div class="col-md-12">
				<div class=""> 
				Актуальные предложения на квартиры, от эконом-класса до элитных. Районы с развитой инфраструктурой: остановки транспорта 
в шаговой доступности, благоустроенная придомовая территория, огороженные детские площадки. Площадь квартир от 23,8 м2
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-xs-12">
				<a href="new_home.html" class="item">
					<div class="item-images" style="background-image: url(img/catalog-bg.png);">
						<div class="item-filter">
							<p class="item-headline">
								Жилой комплекс «Криталл»
							</p>
							<p class="item-description">
								Квартиры от 1,2 млн руб.
							</p>
							<div class="item-info-hover">
								<p class="item-info-text">Срок сдачи: 4 кв. 2018</p>
								<p class="item-info-btn">Выбрать квартиру</p>
							</div>
					</div>
					</div>
					</a>
				</div>
							<div class="col-md-6 col-xs-12">
				<a href="new_home.html" class="item">
					<div class="item-images" style="background-image: url(img/catalog-bg.png);">
						<div class="item-filter">
							<p class="item-headline">
								Жилой комплекс «Криталл»
							</p>
							<p class="item-description">
								Квартиры от 1,2 млн руб.
							</p>
							<div class="item-info-hover">
								<p class="item-info-text">Срок сдачи: 4 кв. 2018</p>
								<p class="item-info-btn">Выбрать квартиру</p>
							</div>
					</div>
					</div>
					</a>
				</div>
							<div class="col-md-6 col-xs-12">
				<a href="new_home.html" class="item">
					<div class="item-images" style="background-image: url(img/catalog-bg.png);">
						<div class="item-filter">
							<p class="item-headline">
								Жилой комплекс «Криталл»
							</p>
							<p class="item-description">
								Квартиры от 1,2 млн руб.
							</p>
							<div class="item-info-hover">
								<p class="item-info-text">Срок сдачи: 4 кв. 2018</p>
								<p class="item-info-btn">Выбрать квартиру</p>
							</div>
					</div>
					</div>
					</a>
				</div>
							<div class="col-md-6 col-xs-12">
				<a href="new_home.html" class="item">
					<div class="item-images" style="background-image: url(img/catalog-bg.png);">
						<div class="item-filter">
							<p class="item-headline">
								Жилой комплекс «Криталл»
							</p>
							<p class="item-description">
								Квартиры от 1,2 млн руб.
							</p>
							<div class="item-info-hover">
								<p class="item-info-text">Срок сдачи: 4 кв. 2018</p>
								<p class="item-info-btn">Выбрать квартиру</p>
							</div>
					</div>
					</div>
					</a>
				</div>
		</div>
	</div>
</section>
<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
			<div class="menu_footer">
				<div class="menu_logo_footer">
				<img src="img/logo.svg" alt="" class="img-responsive">
				</div>

			<ul class="menu_footer_container">
				<li><a href="new_home_search.html">Новостройки</a></li>
				<li><a href="">Ипотека</a></li>
				<li><a href="">Копротивная программа</a></li>
				<li><a href="">Отзывы</a></li>
				<li><a href="">О компани</a></li>
				<li><a href="">Контакты</a></li>
			</ul>

		</div>
		<div class="footer_info">
			<div class="info_1">
				© 2017 Информационные материалы и цены, размещенные на сайте, не являются публичной офертой
			</div>
			<div class="info_1">
				<a href="">Политика конфиденциальности</a>
			</div>
		</div>
			</div>
		</div>
	</div>
</footer>

	<link rel="stylesheet" href="css/main.min.css">
	<script src="js/scripts.min.js"></script>

</body>
</html>
