{% load static %}
    <nav>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="top_nav">
                        <div class="top_nav_logo">
                            <img src="{% static 'real_estate/images/logo/logo.svg' %}" alt="" class="img-responsive" width="200px">
                        </div>
                        <div class="phone">
                            <div class="phone_description">
                                Звоните ежедневно с 8:00 до 22:00
                            </div>
                            <div class="phone_number">
                                                +7 (3452) 589-881
                            </div>

                            <a href="#modal_callback" class="callback">Заказать обратный звонок</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="menu">
                            <div class="menu_logo">
                            <img src="{% static 'real_estate/images/logo/logo.svg' %}" alt="" class="img-responsive">
                                        <a href="#" class="toggle-mnu hidden-lg"><span></span></a>
                            </div>

                        <ul class="menu_container">
                            <li><a href="{% url 'new_buildings:residental-complex-list' %}">Новостройки</a></li>
                            <li><a href="#">Ипотека</a></li>
                            <li><a href="#">Копротивная программа</a></li>
                            <li><a href="#">Отзывы</a></li>
                            <li><a href="{% url 'about' %}">О компании</a></li>
                            <li><a href="#">Контакты</a></li>
                            <li><a href="{% url 'admin:index' %}">Личный кабинет</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

</nav>  

<!--
<header>
    <div class="header_zhk">
        <div class="header_zhk_img" style="background-image: url(img/catalog-bg.png);">
            <div class="header_zhk_filter" style="  background-image: linear-gradient(to bottom, rgba(60, 61, 73, 0.27), rgba(0, 0, 0, 0.0));">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="header_zhk_name">
                                <h1>Жилой комплекс «Кристалл»</h1>
                                <h2>Застройщик «ТИС»</h2>
                            </div>
                        </div>
                    </div>
                </div>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12 col-xs-12">
                                <div class="header_zhk_description ">
                                <div class="header_zhk_description_item-frist">
                                    <p class="header_zhk_description_p">Материал&nbsp;стен<br> <span> Кирпичные</span></p>
                                </div>
                                <div class="header_zhk_description_item">
<p class="header_zhk_description_p">Квартир&nbsp;в&nbsp;ЖК<br> <span>548</span></p>
                                </div>
                                <div class="header_zhk_description_item">
<p class="header_zhk_description_p">Срок&nbsp;сдачи<br> <span> 2кв.&nbsp;2018&nbsp;г.</span></p>
                                </div>
                                <div class="header_zhk_description_item-last">
<p class="header_zhk_description_p">Количесво&nbsp;домов<br> <span> 7</span></p>
                                </div>                                                              
                            </div>
                            </div>
                            </div>
                            </div>
                </div>

        </div>
    </div>
</header>-->