{% load static %}
{% load django_bootstrap_breadcrumbs %}
<header>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="top_nav row">
          <div class="top_nav_logo col-md-2">
            <a href="{% url 'index' %}"><img src="{% static 'img/logo.png' %}" width="150" alt='domus logo'></a>
          </div>
          <div class="col-md-6 hidden-xs">
            <a href="{{ global_social_links.vk }}"  target="_blank"><img src="{% static 'img/icon/002-vk.svg' %}" alt="vk link" width="30" height="30"></a>
            <a href="{{ global_social_links.instagram }}" target="_blank"><img src="{% static 'img/icon/001-instagram.svg' %}" alt="instagram link" width="30" height="30"></a>
          </div>
          <div class="phone col-md-4">
            <div class="phone_description">
              Звоните ежедневно с 8:00 до 22:00
            </div>
            <div class="phone_number">
              {{global_phone_number}}
            </div>
            <a href="{% url 'applications:callback' %}" class="callback callback-link item-info-btn">Заказать обратный звонок</a>
          </div>
        </div>
      </div>
    </div>

    <nav class="row">
      <div class="col-md-12">
        <div class="menu">
            <div class="menu_logo">
              <img src="{% static 'img/logo.png' %}" alt="domus logo" height="50">
            <a href="#" class="toggle-mnu hidden-lg"><span></span></a>
            </div>
          <ul class="menu_container">
            <li><a href="{% url 'new_buildings:residental-complex-list' %}">Новостройки без комиссии</a></li>
            <li><a href="{% url 'resale:index' %}">Каталог квартир</a></li>
            <li><a href="{% url 'mortgage:index' %}">Ипотека</a></li>
            <li><a href="{% url 'corporation_benefit_plan' %}">Корпоративная программа</a></li>
            <li><a href="{% url 'feedback:index' %}">Отзывы</a></li>
            <li><a href="{% url 'company:about' %}">О компании</a></li>
            <li><a href="{% url 'contacts:index' %}">Контакты</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>  

{% render_breadcrumbs  "base/breadcrumbs.html" %}
<script>
$(document).ready( function(){
  $('a.callback-link').attr("href", "#modal_callback")
});
</script>