{% load static %}
{% load django_bootstrap_breadcrumbs %}
    <nav>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="top_nav">
                        <div class="top_nav_logo">
                            <a href="{% url 'index' %}"><img src="{% static 'real_estate/images/logo/logo.svg' %}" alt="" class="img-responsive" width="200px"></a>
                        </div>
                        <div class="phone">
                            <div class="phone_description">
                                Звоните ежедневно с 8:00 до 22:00
                            </div>
                            <div class="phone_number">
                                {{global_phone_number}}
                            </div>

                            <a href="#modal_callback" class="callback">Заказать обратный звонок</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="menu">
                            <div class="menu_logo">
                            <img src="{% static 'real_estate/images/logo/logo.svg' %}" alt="" class="img-responsive">
                                        <a href="#" class="toggle-mnu hidden-lg"><span></span></a>
                            </div>

                        <ul class="menu_container">
                            <li><a href="{% url 'new_buildings:residental-complex-list' %}">Новостройки</a></li>
                            <li><a href="{% url 'mortgage:index' %}">Ипотека</a></li>
                            <li><a href="{% url 'corporation_benefit_plan' %}">Корпоративная программа</a></li>
                            <li><a href="{% url 'feedback' %}">Отзывы</a></li>
                            <li><a href="{% url 'about' %}">О компании</a></li>
                            <li><a href="{% url 'contacts' %}">Контакты</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
<div class="container">
    {% render_breadcrumbs  "base/breadcrumbs.html" %}
</div>
</nav>  