<div id="modal_callback" class="animate_popup">
	<div class="modal_callback zhk_headline">
		Закзать обратный звонок
	</div>
	<form action="" class="cta_form">
		<label for="">Имя<input type="text" placeholder="Александр"></label>
		<label for="">Телефон<input type="number" placeholder="+7(999)547 57 07"></label>
		<button class="btn_large">Заказать</button>
	</form>
	<div class="info_form">
		Нажимая на кнопку, вы даете согласие на обработку своих персональных данных<br>
<a href="">Пользовательское соглашение</a>
	</div>
</div>	