{% extends 'real_estate/base/base.html' %}
{% load static %}
{% block content %}
<main class="index row text-center">
	<div>
		<hr>
		<h1>Фильтр будет здесь</h1>
		<hr>
	</div>
	<div class="waiting-for-call inverse container-fluid">
		<div>
			<h1 class="h1-index">Помогаем купить квартиру в новостройке<br><b>без комиссии за 2 дня!</b></h1>
			<p>Напишите свой телефон, и мы вам перезвоним в течении 10 минут</p>
			<form class="input-index" action="#" method="post">{% csrf_token %}
				<input type="text" placeholder="Ваше имя" class="form-control" required>
				<input type="text" placeholder="Ваш телефон" class="form-control" required>
				<button type="submit" class="btn btn-primary" id='btn-waiting-for-call'>Жду звонка</button>
			</form>
			<p>Нажимая на кнопку, вы даете согласие на обработку своих персональных данных</p>
			<a href='{% url "real_estate:privacy-policy" %}'><u>Пользовательское соглашение</u></a>
		</div>
	</div>
	<div class="advantages col-xs-12">
		<h1>Наши преимущества</h1>

		<section class="col-xs-12">
			<img src='{% static "real_estate/images/index/wallet.png" %}'>
			<h2 class="strong">Без комиссии</h2><br>
			<p>Мы являемся представителями застройщиков, поэтому наши услуги <strong>бесплатны</strong></p>
		</section>
		<section class="col-md-4">
			<img src='{% static "real_estate/images/index/house.png" %}'>
			<h2 class="strong">Бронирование</h2><br>
			<p>Мы <strong>бесплатно</strong> забронируем для вас квартиру в новостройке</p>
		</section>
		<section class="col-md-4">
			<img src='{% static "real_estate/images/index/people.png" %}'>
			<h2 class="strong">Персональный менеджер</h2><br>
			<p>У вас будет персональный специалист по недвижимости который поможет вам с оформлением квартиры</strong></p>
		</section>
		<section class="col-md-4">
			<img src='{% static "real_estate/images/index/transport.png" %}'>
			<h2 class="strong">Экскурсии</h2><br>
			<p>Мы предоставим вам трансфер по всем новостройкам</p>
		</section>
	</div>
	<div class="col-xs-12 inverse">
		<h1>Мы любим наших клиентов</h1><br>
		<p>Именно поэтому мы ищем идивидуальный подход к каждому</p>
		<section class="col-md-4">
			<img src='{% static "real_estate/images/index/0-percent.png" %}' width="100">
			<h2 class="strong">Без первоначального взноса</h2><br>
			<p>Мы бесплатно поможем оформить выгодную ипотеку. Мы сотрудничаем со всеми ведущими банками России.</p>
		</section>
		<section class="col-md-4">
			<img src='{% static "real_estate/images/index/wallet2.svg" %}' width="100">
			<h2 class="strong">Максимальные скидки</h2><br>
			<p>Застройщики нам доверяют. И делают специально для нас максимальные скидки. С нами выгодно покупать квартиры в новостройках.</p>
		</section>
		<section class="col-md-4">
			<img src='{% static "real_estate/images/index/calc.svg" %}' width="100">
			<h2 class="strong">Рассрочка</h2><br>
			<p>С нами вы можете купить любую квартиру в новостройке с беспроцентной рассрочкой.</p>
		</section>
	</div>
	<div class="col-xs-12 new-buildings">
		<hr>
		<h1>Несколько новостроек будет здесь</h1>
		<hr>
	</div>
</main>
{% endblock %}