{% extends 'real_estate/base/base.html' %}
{% load static %}
{% block content %}
<main class="index">
	<div class="waiting-for-call">1</div>
	<div>2</div>
	<div>3</div>
	<div>4</div>
	<div>5</div>
	<script>
	function move(id) {
	div=document.getElementById(id);
	if(parseInt(div.style.right)<200) {
		div.style.right=parseInt(div.style.right)+2+"px";
		setTimeout("move('"+id+"')",2);
		}
	}
	</script>
	<div>
	<input type="button" value="button" onclick="move('d')"/>
	<div id="d" style="position:absolute;right: 10px;border:1px solid #000;width:100px;text-align:center; color:red;">
	666666666666666
	</div> 
	</div>
	<div>7</div>
</main>
{% endblock %}