{% extends 'real_estate/base/base.html' %}
{% block content %}
<div>
    asd
</div>
<html>
<head><script>
function move(id) {
div=document.getElementById(id);
if(parseInt(div.style.right)<200) {
div.style.right=parseInt(div.style.right)+2+"px";
setTimeout("move('"+id+"')",1);
}
}
</script>
</head>
<body onLoad="move('d')">
<input type="button" value="Йа кнопко" onLoad="move('d')"/>
<div id="d" style="position:absolute;right: 100px;border:1px solid #000;width:100px;text-align:center;">
Я бегу бегу бегу
</div> </body></html>
<p>asd</p>
<p>asd</p>
<p>asd</p>
<p>asd</p><p>asd</p><p>asd</p><p>asd</p><p>asd</p><p>asd</p><p>asd</p>
{% endblock %}