{% load new_building_tags %}
<div class="header emerge search_place" style="background-image: url(https://news.vsemetri.com/files/posts/2016/07/07/577de54b4579e.jpg);">
    
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="main_header_headline">Новостройки от застройщика в Тюмени</h1>
                <h2 class="main_header_headline_2">Бесплатный поиск квартир в новостройках</h2>
            </div>
        </div>

        <form action="" method="get">{# {% csrf_token %}  #}
        <div class="row emerge" data-effect="slide" data-expose="true">
            <div class="col-md-12">
                <div class="search_room-flex">
                    <div class="search-form-room-flex">
                        <div class="search-form-name">Количество комнат</div>
                        <div class="btn-group search-room-btn-flex" data-toggle="buttons">
                            {{ form.rooms.errors }}
                            {% for room in form.rooms %}
                                <label class="btn btn-primary {% if room.is_checked %}active{% endif %}">
                                    {{room}}
<!--
Важно, чтобы при нажатии кнопки input становился selected. Это я уже организовал выше.
Также я обернул input в обертку кнопку btn btn-primary, которые работают как надо при влюченных bootstrap.min.css, jquery.min.js и bootstrap.min.js
Тебе надо заменить основной стиль данной кнопки, а также стиль active (для нажатой) - на те, что ты добавил к кнопке ниже.
При нажатии можешь инициализировать простую функцию jquery - добавление класса active. А в css - сделать такой переход плавным. Тогда будет все тоже самое, что и кнопкой ниже.
class active - иметь также важно для того, чтобы после запроса активные кнопки оставались активными. 

На всякий случай передаю класс checkbox в input rooms
-->

                        <!-- 
                            <label>
                                <input type="checkbox" class="checkbox">
                                <div class="search-btn">5</div>                         
                            </label>

                        -->
                                </label>
                            {% endfor %}
                        </div>
                    </div>


                    <div class="search_price-flex search_price-flex-border-right-none">
                        <label for="{{ form.price_from.id_for_label }}" class="search-form-name">Стоимость</label>
                        <div class="search_form_price_container search_price-flex-border-bottom">
                            <div class="search_form_price">
                                {{ form.price_from }}
                            </div>
                            <div class="search_form_price">
                                {{ form.price_to }}
                            </div>
                        </div>
                    </div>


                    <div class="search_price-flex">
                        <label for="{{ form.area_from.id_for_label }}" class="search-form-name">Площадь, м2</label>
                        <div class="search_form_price_container ">
                            <div class="search_form_price">
                                {{ form.area_from }}
                            </div>
                            <div class="search_form_price">
                                {{ form.area_to }}
                            </div>
                        </div>
                    </div>


                    <div class="select_home-flex">
                        <label for="{{form.settlement_before.id_for_label}}" class="search-form-name">Заселение до</label>
                        <div class="search_form_select">
                            {{ form.settlement_before }}
                        </div>
                    </div>

                </div>  
                <div class="search_place">
                    {# <input type="text" placeholder="Название улицы, района, или жилого комплекса" class="search_place_input "> #}
                    {{form.any_text}}
                    <button class="btn_large" type="submit">Найти</button>
                </div>
            </div>
        </div>
        </form>
    </div>  
</div>
