<!DOCTYPE html>
<html lang="ru">

<head>

	<meta charset="utf-8">

	<title>Блог</title>
	<meta name="description" content="">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<meta property="og:image" content="path/to/image.jpg">
	<link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&amp;subset=cyrillic" rel="stylesheet">


	<!-- Chrome, Firefox OS and Opera -->
	<meta name="theme-color" content="#000">
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="#000">
	<!-- iOS Safari -->
	<meta name="apple-mobile-web-app-status-bar-style" content="#000">

	<style>body { opacity: 0; overflow-x: hidden; } html { background-color: #fff; }</style>

</head>

<body>
		<nav>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="top_nav">
			<div class="top_nav_logo">
				<img src="img/logo.svg" alt="" class="img-responsive">
			</div>
			<div class="phone">
				<div class="phone_description">
					Звоните ежедневно с 8:00 до 22:00
				</div>
				<div class="phone_number">
									+7 (3452) 589-881
				</div>

				<a href="#modal_callback" class="callback">Заказать обратный звонок</a>
			</div>
		</div>
	</div>
		</div>
<div class="row">
	<div class="col-md-12">
				<div class="menu">
				<div class="menu_logo">
				<img src="img/logo.svg" alt="" class="img-responsive">
							<a href="#" class="toggle-mnu hidden-lg"><span></span></a>
			</div>

			<ul class="menu_container">
				<li><a href="new_home_search.html">Новостройки</a></li>
				<li><a href="realty_home_search.html">Вторичная недвижимость</a></li>
				<li><a href="ipoteka.html">Ипотека</a></li>
				<li><a href="corparate.html">Копротивная программа</a></li>
				<li><a href="reviews.html">Отзывы</a></li>
				<li><a href="about.html">О компани</a></li>
				<li><a href="contact.html">Контакты</a></li>
			</ul>

		</div>

	</div>
</div>
</div>
</nav>	
<section class="breadcrumb">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-xs-12">
					<div class="breadcrumb_item">
		<a href="index.html">Главная</a> 
		›
		<a href="main_blog.html" class="">Блог</a> 
		›
		<a href="" class="breadcrumb_item-active">Квест для молодых семей: получить сертификат и не погореть на сделке</a> 
	</div>
			</div>
		</div>
	</div>

</section>
<header>

		<section class="blog_header" style="background-image: url(https://cdn.esoft.digital/content/media/etagi_com_uploads/5/5a/5a7b2d2251cb404d8c06ed52c422dab0ac587027.jpg);">
			<div class="flitr_img_header"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2"> 
					<div class="blog_header_headline_flex">
						<h1 class="blog_header_headline">Квест для молодых семей: получить сертификат и не погореть на сделке</h1>
					</div>
					

				</div>
			</div>
		</div>
	</section>
	<section>
		<section>
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<p>В&nbsp;Тюменской области стать участником программы &laquo;Молодая семья&raquo; могут супруги до&nbsp;35&nbsp;лет, которые нуждаются в&nbsp;жилье. Важными критериями будут возраст и&nbsp;статус нуждающегося (категории нуждающихся мы&nbsp;подробно рассмотрим ниже).<br />
<br />
В&nbsp;прошлом году выплату получили более 400 семей&nbsp;&mdash; это три-четыре &laquo;свечки&raquo; в&nbsp;17&nbsp;этажей.<br />
<br />
В&nbsp;очереди на&nbsp;получение денег стоят более 4&nbsp;000&nbsp;тюменцев. В&nbsp;основном это семьи, которые включили в&nbsp;программу до&nbsp;1&nbsp;марта 2005&nbsp;года. Новички присоединяются реже, поскольку бюджет не&nbsp;может обеспечить всех очередников выплатами в&nbsp;один год.<br />
<br />
Сейчас в&nbsp;Тюмени принимают заявки в&nbsp;резервный список на&nbsp;2018&nbsp;год, выплаты этим соискателям субсидий будут проходить не&nbsp;ранее 2018&nbsp;года. Но&nbsp;тем, кто получил сертификат на&nbsp;покупку недвижимости, выдают достойную материальную помощь.</p>

<img src="https://pics2.etagi.com/original/etagi_com_uploads/b/bb/bb98111a13e6624e06e1f14f75fd2c6e3619b9ad.jpg" alt="" class="img-responsive">
					</div>
				</div>
			</div>
		</section>
		<section style=" margin: 20px 0px;">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<div class="social_headline">Поделится статьей в социальных сетях</div>
						<div class="likely likely-big">
							  <div class="vkontakte">Поделиться</div>
							  <div class="telegram">Отправить</div>
							  <div class="odnoklassniki">Класснуть</div>
							  <div class="whatsapp">Вотсапнуть</div>
							  <div class="twitter">Твитнуть</div>
							  <div class="facebook">Поделиться</div>
							  <div class="gplus">Плюсануть</div>							  
							</div>
					</div>
				</div>
			</div>
		</section>

<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
			<div class="menu_footer">
				<div class="menu_logo_footer">
				<img src="img/logo.svg" alt="" class="img-responsive">
				</div>

			<ul class="menu_footer_container">
				<li><a href="new_home_search.html">Новостройки</a></li>
				<li><a href="">Ипотека</a></li>
				<li><a href="">Копротивная программа</a></li>
				<li><a href="">Отзывы</a></li>
				<li><a href="">О компани</a></li>
				<li><a href="">Контакты</a></li>
			</ul>

		</div>
		<div class="footer_info">
			<div class="info_1">
				©<span class="old_year">2016</span> — 2017 Информационные материалы и цены, размещенные на сайте, не являются публичной офертой
			</div>
			<div class="info_1">
				<a href="">Политика конфиденциальности</a>
			</div>
		</div>
			</div>
		</div>
	</div>
</footer>
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/libs_css.min.css">
	<script src="js/scripts_libs.min.js"></script>
	<script src="js/common.js"></script>

</body>
</html>
