{% extends 'base/base.html'%}
{% load static %}
{% block content %}


	<section class="rewiews_header" style="background-image: url({% static 'img/reviews.png' %});">
		<div class="container">
			<div class="row">
				<div class="col-md-12"> 
					<div class="rewiews_header_headline_flex">
						<h1 class="rewiews_header_headline">Отзывы о компании</h1>
					</div>
					

				</div>
			</div>
		</div>
	</section>
<section class="reviws_page">
<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
							<div class="reviews_item">
					<div class="reviews_item_photo" style="background-image: url(https://static.tildacdn.com/tild3537-3665-4663-a163-306665323338/fab48e7714fe49708adc.jpg);">
						
					</div>
										<div class="reviews_item_text">
						Выражаю благодарность Игорю Задачину за профессионализм, высокие деловые качества, работоспособность, умение внимательно и тактично общаться с клиентами.
Желаю компании " ДОМУС " дальнейшего благополучия и процветания.
					<div class="reviews_item_description">
						Анастасия Скворцова <span><a href=""><i class="fa fa-vk " aria-hidden="true"></i></a></span> <br>
						<span style="font-size: 14px; font-weight: 300;">Место работы: Леруа Мерлен г. Тюмень </span><br> 
Приобрела квартиру в ЖК «Звездный городок»
					</div>
					</div>


				</div>

				<div class="reviews_item">
					<div class="reviews_item_photo" style="background-image: url(https://static.tildacdn.com/tild3537-3665-4663-a163-306665323338/fab48e7714fe49708adc.jpg);">
						
					</div>
										<div class="reviews_item_text">
						Выражаю благодарность Игорю Задачину за профессионализм, высокие деловые качества, работоспособность, умение внимательно и тактично общаться с клиентами.
Желаю компании " ДОМУС " дальнейшего благополучия и процветания.
					<div class="reviews_item_description">
						Анастасия Скворцова <span><a href=""><i class="fa fa-vk " aria-hidden="true"></i></a></span> <br>
						<span style="font-size: 14px; font-weight: 300;">Место работы: Леруа Мерлен г. Тюмень </span><br> 
Приобрела квартиру в ЖК «Звездный городок»
					</div>
					</div>


				</div>

				<div class="reviews_item">
					<div class="reviews_item_photo" style="background-image: url(https://static.tildacdn.com/tild3537-3665-4663-a163-306665323338/fab48e7714fe49708adc.jpg);">
						
					</div>
										<div class="reviews_item_text">
						Выражаю благодарность Игорю Задачину за профессионализм, высокие деловые качества, работоспособность, умение внимательно и тактично общаться с клиентами.
Желаю компании " ДОМУС " дальнейшего благополучия и процветания.
					<div class="reviews_item_description">
						Анастасия Скворцова <span><a href=""><i class="fa fa-vk " aria-hidden="true"></i></a></span> <br>
						<span style="font-size: 14px; font-weight: 300;">Место работы: Леруа Мерлен г. Тюмень </span><br> 
Приобрела квартиру в ЖК «Звездный городок»
					</div>
					</div>


				</div>


				<div class="reviews_item">
					<div class="reviews_item_photo" style="background-image: url(https://static.tildacdn.com/tild3537-3665-4663-a163-306665323338/fab48e7714fe49708adc.jpg);">
						
					</div>
										<div class="reviews_item_text">
						Выражаю благодарность Игорю Задачину за профессионализм, высокие деловые качества, работоспособность, умение внимательно и тактично общаться с клиентами.
Желаю компании " ДОМУС " дальнейшего благополучия и процветания.
					<div class="reviews_item_description">
						Анастасия Скворцова <span><a href=""><i class="fa fa-vk " aria-hidden="true"></i></a></span> <br>
						<span style="font-size: 14px; font-weight: 300;">Место работы: Леруа Мерлен г. Тюмень </span><br> 
Приобрела квартиру в ЖК «Звездный городок»
					</div>
					</div>


				</div>

				<div class="reviews_item">
					<div class="reviews_item_photo" style="background-image: url(https://static.tildacdn.com/tild3537-3665-4663-a163-306665323338/fab48e7714fe49708adc.jpg);">
						
					</div>
										<div class="reviews_item_text">
						Выражаю благодарность Игорю Задачину за профессионализм, высокие деловые качества, работоспособность, умение внимательно и тактично общаться с клиентами.
Желаю компании " ДОМУС " дальнейшего благополучия и процветания.
					<div class="reviews_item_description">
						Анастасия Скворцова <span><a href=""><i class="fa fa-vk " aria-hidden="true"></i></a></span> <br>
						<span style="font-size: 14px; font-weight: 300;">Место работы: Леруа Мерлен г. Тюмень </span><br> 
Приобрела квартиру в ЖК «Звездный городок»
					</div>
					</div>


				</div>


				<div class="reviews_item">
					<div class="reviews_item_photo" style="background-image: url(https://static.tildacdn.com/tild3537-3665-4663-a163-306665323338/fab48e7714fe49708adc.jpg);">
						
					</div>
										<div class="reviews_item_text">
						Выражаю благодарность Игорю Задачину за профессионализм, высокие деловые качества, работоспособность, умение внимательно и тактично общаться с клиентами.
Желаю компании " ДОМУС " дальнейшего благополучия и процветания.
					<div class="reviews_item_description">
						Анастасия Скворцова <span><a href=""><i class="fa fa-vk " aria-hidden="true"></i></a></span> <br>
						<span style="font-size: 14px; font-weight: 300;">Место работы: Леруа Мерлен г. Тюмень </span><br> 
Приобрела квартиру в ЖК «Звездный городок»
					</div>
					</div>


				</div>																

		</div>
	</div>
</div>
</section>
<section>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="pagiantion">
					<ul>
						<li><a href="" class="prev">‹</a></li>
						<li><a href="" class="pagiantion_active">1</a></li>
						<li><a href="">2</a></li>
						<li><a href="">3</a></li>
						<li><a href="">...</a></li>
						<li><a href="">5 </a></li>
						<li><a href="" class="next">›</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>	




{% endblock %}
