{% extends 'base/base.html'%}
{% load static %}
{% load real_estate_extras %}
{% block content %}

<section class="company emerge" data-effect="slide" data-expose="true">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="zhk_headline">
					О компании
				</div>
				<div class="company_description">
					<p>Компания &laquo;DОМУС&raquo;&nbsp;&mdash; помогает выбрать и&nbsp;преобрести квартиру вашей мечты</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="company_features">
					<p>Работаем со&nbsp;всем строительными компаниями Тюмени</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="company_features">
<p>Помогаем найти квартиру мечты для каждого человека</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="company_features">
<p>Честно рассказываем о&nbsp;достоинствах и&nbsp;недостатках жилых комплексов. Не&nbsp;навязываем своё мнение. Не&nbsp;настаиваем на&nbsp;покупке</p>
				</div>
			</div>
		</div>
			<div class="row numbers">
						<div class="col-md-4 col-sm-4">
				<div class="numbers_item border-rigth">
					<div class="numbers_item_big">
						{{number_of_builders}}
					</div>
					<div class="numbers_item_small">
						{{number_of_builders|rupluralize:"Застройщик,Застройщика,Застройщиков"}}
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="numbers_item border-rigth">
					<div class="numbers_item_big">
						{{number_of_residental_complexes}}
					</div>
					<div class="numbers_item_small">
						{{number_of_residental_complexes|rupluralize:"Жилой комплекс,Жилых комплекса,Жилых комплексов"}}
					</div>
				</div>
			</div>
									<div class="col-md-4 col-sm-4">
				<div class="numbers_item ">
					<div class="numbers_item_big">
						{{number_of_apartments}}
					</div>
					<div class="numbers_item_small">
						{{number_of_apartments|rupluralize:"Вариант квартир,Варианта квартир,Вариантов квартир"}}
						
					</div>
				</div>
			</div>	
</div>
		</div>
	</div>
</section>

<section class="mortage emerge" data-effect="slide" data-expose="true" style="background-image: url({% static 'img/ipoteka.png' %});">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="zhk_headline">
					Ипотека
				</div>
				<div class="ipoteka_headline">от <span class="ipoteka_percent"> 7,4%</span></div>
			</div>
			<div class="col-md-10">
				<div class="company_description">
					Бесплатно оформляем ипотеку за 4 - 10 дней 
				</div>
			</div>
		</div>
		<div class="row numbers">
						<div class="col-md-4 col-sm-4">
				<div class="numbers_item border-rigth ">
					<div class="numbers_item_big">
					5
					</div>
					<div class="numbers_item_small">
						Страховых компаний-партнеров
					</div>
				</div>
			</div>
						<div class="col-md-4 col-sm-4">
				<div class="numbers_item border-rigth">
					<div class="numbers_item_big">
						10 
					</div>
					<div class="numbers_item_small">
						Банков-партнеров
					</div>
				</div>
			</div>
				<div class="col-md-4 col-sm-4">
				<div class="numbers_item">
					<div class="numbers_item_big">
						70%
					</div>
					<div class="numbers_item_small">
						Ипотечных заявок одобряются
					</div>
				</div>
			</div>						
		</div>
	</div>
</section>

<section class="reviews emerge" data-effect="slide" data-expose="true">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="zhk_headline">
					Отзывы клиентов
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-xs-12">
				<div class="reviews_slider" data-flickity>
				<div class="reviews_item">
					<div class="reviews_item_photo" style="background-image: url(https://static.tildacdn.com/tild3537-3665-4663-a163-306665323338/fab48e7714fe49708adc.jpg);">
						
					</div>
										<div class="reviews_item_text">
						Выражаю благодарность Игорю Задачину за профессионализм, высокие деловые качества, работоспособность, умение внимательно и тактично общаться с клиентами.
Желаю компании " ДОМУС " дальнейшего благополучия и процветания.
					<div class="reviews_item_description">
						Анастасия Скворцова <span><a href=""><i class="fa fa-vk " aria-hidden="true"></i></a></span> <br>
						<span style="font-size: 14px; font-weight: 300;">Место работы: Леруа Мерлен г. Тюмень </span><br> 
Приобрела квартиру в ЖК «Звездный городок»
					</div>
					</div>


				</div>

				<div class="reviews_item">
					<div class="reviews_item_photo" style="background-image: url(https://static.tildacdn.com/tild3537-3665-4663-a163-306665323338/fab48e7714fe49708adc.jpg);">
						
					</div>
										<div class="reviews_item_text">
						Выражаю благодарность Игорю Задачину за профессионализм, высокие деловые качества, работоспособность, умение внимательно и тактично общаться с клиентами.
Желаю компании " ДОМУС " дальнейшего благополучия и процветания.
					<div class="reviews_item_description">
					Анастасия Скворцова <span><a href=""><i class="fa fa-vk " aria-hidden="true"></i></a></span> <br>
						<span style="font-size: 14px; font-weight: 300;">Место работы: Леруа Мерлен г. Тюмень </span><br> 
Приобрела квартиру в ЖК «Звездный городок»
					</div>
					</div>


				</div>
				<div class="reviews_item">
					<div class="reviews_item_photo" style="background-image: url(https://static.tildacdn.com/tild3537-3665-4663-a163-306665323338/fab48e7714fe49708adc.jpg);">
						
					</div>
										<div class="reviews_item_text">
						Выражаю благодарность Игорю Задачину за профессионализм, высокие деловые качества, работоспособность, умение внимательно и тактично общаться с клиентами.
Желаю компании " ДОМУС " дальнейшего благополучия и процветания.
					<div class="reviews_item_description">
						Анастасия Скворцова <span><a href=""><i class="fa fa-vk " aria-hidden="true"></i></a></span> <br>
						<span style="font-size: 14px; font-weight: 300;">Место работы: Леруа Мерлен г. Тюмень </span><br> 
Приобрела квартиру в ЖК «Звездный городок»
					</div>
					</div>


				</div>
				<div class="reviews_item">
					<div class="reviews_item_photo" style="background-image: url(https://static.tildacdn.com/tild3537-3665-4663-a163-306665323338/fab48e7714fe49708adc.jpg);">
						
					</div>
										<div class="reviews_item_text">
						Выражаю благодарность Игорю Задачину за профессионализм, высокие деловые качества, работоспособность, умение внимательно и тактично общаться с клиентами.
Желаю компании " ДОМУС " дальнейшего благополучия и процветания.
					<div class="reviews_item_description">
						Анастасия Скворцова <span><a href=""><i class="fa fa-vk " aria-hidden="true"></i></a></span> <br>
						<span style="font-size: 14px; font-weight: 300;">Место работы: Леруа Мерлен г. Тюмень </span><br> 
Приобрела квартиру в ЖК «Звездный городок»
					</div>
					</div>


				</div>												
				</div>
			</div>
		</div>
	</div>
</section>
			
<section class="top_zhk">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="zhk_headline">
					Популярные жилые комплексы
				</div>
			</div>
			<div class="col-md-12">
				<div class="top_zhk_text"> 
				<p>Лучшие предложения на&nbsp;квартиры в&nbsp;Тюмени, от&nbsp;эконом-класса до&nbsp;элитных. Жилые комплексы с&nbsp;развитой инфраструктурой. Рядом школы, остановки общественного транспорта, современные детские площадки.</p>
				</div>
			</div>
		</div>

		<div class="row">
				{% for residental_complex in residental_complexes %}
					{% include "new_buildings/residental_complex_short.html" %}
				{% endfor %}

			<div class="col-md-12 col-xs-12" style="text-align: center;">
				<div class="btn_all_newhome">
				<a href="{% url 'new_buildings:residental-complex-list' %}" class="all_newhome">Посмотреть все новостройки</a>	
				</div>
				
			</div>
		</div>


	</div>
</section>



{% endblock %}
