<!DOCTYPE html>
<html lang="ru">

<head>

	<meta charset="utf-8">

	<title>Блог</title>
	<meta name="description" content="">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<meta property="og:image" content="path/to/image.jpg">
	<link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&amp;subset=cyrillic" rel="stylesheet">


	<!-- Chrome, Firefox OS and Opera -->
	<meta name="theme-color" content="#000">
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="#000">
	<!-- iOS Safari -->
	<meta name="apple-mobile-web-app-status-bar-style" content="#000">

	<style>body { opacity: 0; overflow-x: hidden; } html { background-color: #fff; }</style>

</head>

<body>
		<nav>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="top_nav">
			<div class="top_nav_logo">
				<img src="img/logo.svg" alt="" class="img-responsive">
			</div>
			<div class="phone">
				<div class="phone_description">
					Звоните ежедневно с 8:00 до 22:00
				</div>
				<div class="phone_number">
									+7 (3452) 589-881
				</div>

				<a href="#modal_callback" class="callback">Заказать обратный звонок</a>
			</div>
		</div>
	</div>
		</div>
<div class="row">
	<div class="col-md-12">
				<div class="menu">
				<div class="menu_logo">
				<img src="img/logo.svg" alt="" class="img-responsive">
							<a href="#" class="toggle-mnu hidden-lg"><span></span></a>
			</div>

			<ul class="menu_container">
				<li><a href="new_home_search.html">Новостройки</a></li>
				<li><a href="realty_home_search.html">Вторичная недвижимость</a></li>
				<li><a href="ipoteka.html">Ипотека</a></li>
				<li><a href="corparate.html">Копротивная программа</a></li>
				<li><a href="reviews.html">Отзывы</a></li>
				<li><a href="about.html">О компани</a></li>
				<li><a href="contact.html">Контакты</a></li>
			</ul>

		</div>

	</div>
</div>
</div>
</nav>	
<section class="breadcrumb">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-xs-12">
					<div class="breadcrumb_item">
		<a href="index.html">Главная</a> 
		›
		<a href="" class="breadcrumb_item-active">Новостройки</a> 
	</div>
			</div>
		</div>
	</div>

</section>
<header>

		<section class="rewiews_header" style="background-image: url(img/reviews.png);">
		<div class="container">
			<div class="row">
				<div class="col-md-12"> 
					<div class="rewiews_header_headline_flex">
						<h1 class="rewiews_header_headline">О недвижимости простыми словами</h1>
					</div>
					

				</div>
			</div>
		</div>
	</section>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<a href="blog_page.html" class="blog_href">
					<div class="blog_item">
						<div class="blog_item_bg" style="background-image: url(https://cdn.esoft.digital/content/media/etagi_com_uploads/5/5a/5a7b2d2251cb404d8c06ed52c422dab0ac587027.jpg);">
							<div class="blog_item_bg_filter"></div>
							<div class="blog_item_headline">
								Квест для молодых семей: получить сертификат и не погореть на сделке
							</div>
							<div class="blog_item_desc">
								Подводные камни программы «Молодая семья»: у вас есть всего 7 месяцев, чтобы купить квартиру.

							</div>
							<div class="blog_item_btn">
								<p class="item-info-btn">Прочитать статью</p>
							</div>
						</div>
					</div>
					</a>
				</div>
				<div class="col-md-6">
					<a href="" class="blog_href">
					<div class="blog_item">
						<div class="blog_item_bg" style="background-image: url(img/bg_zastr.png);">
							<div class="blog_item_bg_filter"></div>
							<div class="blog_item_headline">
								Тюменцы не готовы продавать недвижимость за криптовалюту
							</div>
							<div class="blog_item_desc">
								Лишь 22% респондентов сочли сделку надежной



							</div>
							<div class="blog_item_btn">
								<p class="item-info-btn">Прочитать статью</p>
							</div>
						</div>
					</div>
					</a>
				</div>
				<div class="col-md-6">
					<a href="" class="blog_href">
					<div class="blog_item">
						<div class="blog_item_bg" style="background-image: url(img/bg_zastr.png);">
							<div class="blog_item_bg_filter"></div>
							<div class="blog_item_headline">
								Квест для молодых семей: получить сертификат и не погореть на сделке
							</div>
							<div class="blog_item_desc">
								Подводные камни программы «Молодая семья»: у вас есть всего 7 месяцев, чтобы купить квартиру.

							</div>
							<div class="blog_item_btn">
								<p class="item-info-btn">Прочитать статью</p>
							</div>
						</div>
					</div>
					</a>
				</div>
				<div class="col-md-6">
					<a href="" class="blog_href">
					<div class="blog_item">
						<div class="blog_item_bg" style="background-image: url(img/bg_zastr.png);">
							<div class="blog_item_bg_filter"></div>
							<div class="blog_item_headline">
								Квест для молодых семей: получить сертификат и не погореть на сделке
							</div>
							<div class="blog_item_desc">
								Подводные камни программы «Молодая семья»: у вас есть всего 7 месяцев, чтобы купить квартиру.

							</div>
							<div class="blog_item_btn">
								<p class="item-info-btn">Прочитать статью</p>
							</div>
						</div>
					</div>
					</a>
				</div>
				<div class="col-md-6">
					<a href="" class="blog_href">
					<div class="blog_item">
						<div class="blog_item_bg" style="background-image: url(img/bg_zastr.png);">
							<div class="blog_item_bg_filter"></div>
							<div class="blog_item_headline">
								Квест для молодых семей: получить сертификат и не погореть на сделке
							</div>
							<div class="blog_item_desc">
								Подводные камни программы «Молодая семья»: у вас есть всего 7 месяцев, чтобы купить квартиру.

							</div>
							<div class="blog_item_btn">
								<p class="item-info-btn">Прочитать статью</p>
							</div>
						</div>
					</div>
					</a>
				</div>																
			</div>
		</div>
	</section>

<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
			<div class="menu_footer">
				<div class="menu_logo_footer">
				<img src="img/logo.svg" alt="" class="img-responsive">
				</div>

			<ul class="menu_footer_container">
				<li><a href="new_home_search.html">Новостройки</a></li>
				<li><a href="">Ипотека</a></li>
				<li><a href="">Копротивная программа</a></li>
				<li><a href="">Отзывы</a></li>
				<li><a href="">О компани</a></li>
				<li><a href="">Контакты</a></li>
			</ul>

		</div>
		<div class="footer_info">
			<div class="info_1">
				©<span class="old_year">2016</span> — 2017 Информационные материалы и цены, размещенные на сайте, не являются публичной офертой
			</div>
			<div class="info_1">
				<a href="">Политика конфиденциальности</a>
			</div>
		</div>
			</div>
		</div>
	</div>
</footer>
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/libs_css.min.css">
	<script src="js/scripts_libs.min.js"></script>
	<script src="js/common.js"></script>

</body>
</html>
