{% extends 'base/base.html'%}
{% load static %}
{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Политика конфиденциальности" "privacy-policy" %}
{% endblock %}
{% block content %}
<div class="container">
    <br>
    <h1>Пользовательское соглашение</h1>
    <br>
    <p>ИП Задачин Игорь Владимирович (далее Центр новостроек DОМУС или Администрация) обязуется сохранять Вашу конфиденциальность в сети Интернет. Настоящая Политика Конфиденциальности, рассказывает о том, как собираются, обрабатываются и хранятся Ваши личные данные. Администрация уделяет большое внимание защите личной информации пользователей. Пользуюсь сайтом Центр новостроек DОМУС, пользователь тем самым дает согласие на применение правил сбора и использования данных, изложенных в настоящем документе.</p>
    <br>
    <p>Мы собираем некоторую информацию личного характера о наших пользователях и ниже приводим условия получения и использования этой информации.<br>
    <b>Если Вы не согласны с условиями нашей политики конфиденциальности, не используйте <a href='{% url "index" %}'>сайт Центр новостроек DОМУС!</a></b></p>
    <br>
    <h2>Собираемая информация</h2>
    <p>Администрация сайта может собирать следующую информацию о пользователях сайта:</p>
    <ul>
        <li>Фамилия, Имя, Отчество
        <li>Возраст
        <li>Пол
        <li>Почтовый адрес и т.п.
        <li>Адрес электронной почты
        <li>Номер телефона
        <li>IP-адрес
        <li>Прочая информация
    </ul>
    <br>
    <h2>Использование информации</h2>
    <p>Ниже описаны некоторые способы использования личной информации пользователя:</p>
    <ul>
        <li>для внутреннего отчета
        <li>для предоставления информации и услуг, которые запрашивает пользователь
        <li>для ответа на запросы пользователя
        <li>для улучшения качества продуктов сайта
        <li>для улучшения качества предоставления услуг
        <li>для мониторинга работы сайта
        <li>для отправки различной электронной корреспонденции
        <li>для формирования статистических данных
    </ul>
    <br>
    <h2>Раскрытие информации</h2>
    <p>Администрация не продает личные данные пользователя и не передает их третьим лицам без согласия на то пользователя.
    Далее, описаны некоторые случаи передачи личной информации пользователя:</p>
    <ul>
        <li>в случаях, если это требуется органам спецслужб или если это требует законодательство
    </ul>
    <br>
    <h2>Прочая информация</h2>
    <p>Дети не могут пользоваться данным сайтом.</p>
    <br>
</div>
{% endblock %}
