<!DOCTYPE html>
<html lang="ru">

<head>

	<meta charset="utf-8">

	<title>Title</title>
	<meta name="description" content="">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<meta property="og:image" content="path/to/image.jpg">
	<link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&amp;subset=cyrillic" rel="stylesheet">


	<!-- Chrome, Firefox OS and Opera -->
	<meta name="theme-color" content="#000">
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="#000">
	<!-- iOS Safari -->
	<meta name="apple-mobile-web-app-status-bar-style" content="#000">

	<style>body { opacity: 0; overflow-x: hidden; } html { background-color: #fff; }</style>

</head>

<body>
		<nav>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="top_nav">
			<div class="top_nav_logo">
				<img src="img/logo.svg" alt="" class="img-responsive">
			</div>
			<div class="phone">
				<div class="phone_description">
					Звоните ежедневно с 8:00 до 22:00
				</div>
				<div class="phone_number">
									+7 (3452) 589-881
				</div>

				<a href="#modal_callback" class="callback">Заказать обратный звонок</a>
			</div>
		</div>
	</div>
		</div>
<div class="row">
	<div class="col-md-12">
				<div class="menu">
				<div class="menu_logo">
				<img src="img/logo.svg" alt="" class="img-responsive">
							<a href="#" class="toggle-mnu hidden-lg"><span></span></a>
			</div>

			<ul class="menu_container">
				<li><a href="new_home_search.html">Новостройки</a></li>
				<li><a href="realty_home_search.html">Вторичная недвижимость</a></li>
				<li><a href="ipoteka.html">Ипотека</a></li>
				<li><a href="corparate.html">Копротивная программа</a></li>
				<li><a href="reviews.html">Отзывы</a></li>
				<li><a href="about.html">О компани</a></li>
				<li><a href="contact.html">Контакты</a></li>
			</ul>

		</div>

	</div>
</div>
</div>
</nav>	
<section class="breadcrumb">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-xs-12">
					<div class="breadcrumb_item">
		<a href="index.html">Главная</a> 
		›
		<a href="" class="breadcrumb_item-active">Вторичная недвижимость</a> 
	</div>
			</div>
		</div>
	</div>

</section>
<header>
<section>
<div class="header header-min_height emerge realty_header" style="background-image: url(img/realty_home_search.png);">
		<div class="container">
	<div class="row">
		<div class="col-md-12">
				<h1 class="main_header_headline_2 text-color font-weight-600">Каталог квартир Тюмени</h1>
		</div>
	</div>
				<div class="col-md-12">
									<div class="search_room-flex">
						<div class="search-form-room-flex">
						<div class="search-form-name">Количество комнат</div>
<div class="btn-group search-room-btn-flex" data-toggle="buttons">
                            
                                <label class="search-btn ">
                                    <label for="id_rooms_0"><input type="checkbox" name="rooms" value="0" id="id_rooms_0" class="checkbox">
 С</label>
                                </label>
                            
                                <label class="search-btn ">
                                    <label for="id_rooms_1"><input type="checkbox" name="rooms" value="1" id="id_rooms_1" class="checkbox">
 1</label>
                                </label>
                            
                                <label class="search-btn ">
                                    <label for="id_rooms_2"><input type="checkbox" name="rooms" value="2" id="id_rooms_2" class="checkbox">
 2</label>
                                </label>
                            
                                <label class="search-btn">
                                    <label for="id_rooms_3"><input type="checkbox" name="rooms" value="3" id="id_rooms_3" class="checkbox">
 3</label>
                                </label>
                            
                                <label class="search-btn">
                                    <label for="id_rooms_4"><input type="checkbox" name="rooms" value="4" id="id_rooms_4" class="checkbox">
 4+</label>
                                </label>
                            
                        </div>
					</div>


						<div class="search_price-flex search_price-flex-border-right-none">
						<div class="search-form-name">Стоимость</div>
						<div class="search_form_price_container search_price-flex-border-bottom">
						<div class="search_form_price">

						<input type="text" value="" name="" class="" placeholder="от">
					</div>
						<div class="search_form_price">
						<input type="text" value="" name="" class="" placeholder="до" >
						</div>
						</div>
					</div>


						<div class="search_price-flex">
						<div class="search-form-name">Количество метров</div>
						<div class="search_form_price_container ">
						<div class="search_form_price">

						<input type="text" value="" name="" class="" placeholder="от">
					</div>
						<div class="search_form_price">
						<input type="text" value="" name="" class="" placeholder="до" >
						</div>
						</div>
					</div>


					<div class="select_home-flex">
					<div class="search-form-name">Район</div>
						<div class="search_form_select">
						<select  id="id_settlement_before" name="settlement_before" class="search_form_select-select">
<option value="" selected="selected">Дом обороны</option>
<option value="True">Перечесление всех районов где есть квартиры</option>
<option value="2018-03-31">Перечесление всех районов где есть квартиры</option>
<option value="2018-06-30">Перечесление всех районов где есть квартиры</option>
<option value="2018-09-30">Перечесление всех районов где есть квартиры</option>
<option value="2018-12-31">Перечесление всех районов где есть квартиры</option>
<option value="2019-03-31">Перечесление всех районов где есть квартиры</option>
<option value="2019-06-30">Перечесление всех районов где есть квартиры</option>
<option value="2019-09-30">Перечесление всех районов где есть квартиры</option>
<option value="2019-12-31">Перечесление всех районов где есть квартиры</option>
<option value="2020-03-31">Перечесление всех районов где есть квартиры</option>
<option value="2020-06-30">Перечесление всех районов где есть квартиры</option>
<option value="2020-09-30">Перечесление всех районов где есть квартиры</option>
<option value="2020-12-31">Перечесление всех районов где есть квартиры</option>

</select>
						</div>
						</div>

				</div>	
							<div class="search_place">

					
						<input type="text" placeholder="Название улицы, района, или жилого комплекса" class="search_place_input">
						<button class="btn_large"> Найти</button>
					

			</div>		
			</div>

		</div>



</div>		
	</div>
</section>
</header>


<section class="catalog_realty">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<a href="realty_home_page.html" class="realty_home_href" target="_blank">
				<div class="realty_item">
					<div class="realty_item_photo">
						 <div class="realty_item_photo_item" style="background-image: url(img/realty_home_search.png);"></div>

					</div>
					<div class="realty_item_desc">
						<div class="realty_item_desc_top">
							<div class="realty_item_desc_price">
								<div class="realty_item_desc_old_price">
								2 900 000 ₽
							</div>
							<div class="realty_item_desc_new_price">
								2 500 000 ₽
							</div>
							</div>

							<div class="realty_item_desc_price_m2">
								Цена за м²: 30 234 ₽
							</div>
						</div>
						<div class="realty_item_desc_middle">
							<div class="realty_item_desc_name">
								Однокомнтаная квартира
							</div>
							<div class="realty_item_desc_adress">
								<i class="fa fa-map-marker" aria-hidden="true"></i> ул. Широтная д. 125
							</div>
						</div>
						<div class="realty_item_desc_bottom">
							<div class="realty_item_desc_features">
								<div class="realty_item_desc_features_item">
									<p>Район: Дом обороны</p>
								</div>
								<div class="realty_item_desc_features_item">
									<p>Площадь: 45м2</p>
								</div>
								<div class="realty_item_desc_features_item">
									<p>Материал стен: Панель</p>
								</div>
								<div class="realty_item_desc_features_item">
									<p>Площадь кухни: 10 м²</p>
								</div>
								<div class="realty_item_desc_features_item">
									<p>Этаж: 4 / 14</p>
								</div>
								<div class="realty_item_desc_features_item">
									<p>Ремонт: Дизайн-проект</p>
								</div>																								
							</div>
						</div>
									<div class="realty_item_button">
										<p class="item-info-btn">Подробнее о квартире</p>
									</div>

					</div>
				</div>
				</a>

<a href="realty_home_page.html" class="realty_home_href" target="_blank">
				<div class="realty_item">
					<div class="realty_item_photo">
						 <div class="realty_item_photo_item" style="background-image: url(img/realty_home_search.png);"></div>

					</div>
					<div class="realty_item_desc">
						<div class="realty_item_desc_top">
							<div class="realty_item_desc_price">
								<div class="realty_item_desc_old_price">
								2 900 000 ₽
							</div>
							<div class="realty_item_desc_new_price">
								2 500 000 ₽
							</div>
							</div>

							<div class="realty_item_desc_price_m2">
								Цена за м²: 30 234 ₽
							</div>
						</div>
						<div class="realty_item_desc_middle">
							<div class="realty_item_desc_name">
								Однокомнтаная квартира
							</div>
							<div class="realty_item_desc_adress">
								<i class="fa fa-map-marker" aria-hidden="true"></i> ул. Широтная д. 125
							</div>
						</div>
						<div class="realty_item_desc_bottom">
							<div class="realty_item_desc_features">
								<div class="realty_item_desc_features_item">
									<p>Район: Дом обороны</p>
								</div>
								<div class="realty_item_desc_features_item">
									<p>Площадь: 45м2</p>
								</div>
								<div class="realty_item_desc_features_item">
									<p>Материал стен: Панель</p>
								</div>
								<div class="realty_item_desc_features_item">
									<p>Площадь кухни: 10 м²</p>
								</div>
								<div class="realty_item_desc_features_item">
									<p>Этаж: 4 / 14</p>
								</div>
								<div class="realty_item_desc_features_item">
									<p>Ремонт: Дизайн-проект</p>
								</div>																								
							</div>
						</div>
									<div class="realty_item_button">
										<p href="" class="item-info-btn">Подробнее о квартире</p>
									</div>

					</div>
				</div>
				</a>

<a href="realty_home_page.html" class="realty_home_href" target="_blank">
				<div class="realty_item">
					<div class="realty_item_photo">
						 <div class="realty_item_photo_item" style="background-image: url(img/realty_home_search.png);"></div>

					</div>
					<div class="realty_item_desc">
						<div class="realty_item_desc_top">
							<div class="realty_item_desc_price">
								<div class="realty_item_desc_old_price">
								2 900 000 ₽
							</div>
							<div class="realty_item_desc_new_price">
								2 500 000 ₽
							</div>
							</div>

							<div class="realty_item_desc_price_m2">
								Цена за м²: 30 234 ₽
							</div>
						</div>
						<div class="realty_item_desc_middle">
							<div class="realty_item_desc_name">
								Однокомнтаная квартира
							</div>
							<div class="realty_item_desc_adress">
								<i class="fa fa-map-marker" aria-hidden="true"></i> ул. Широтная д. 125
							</div>
						</div>
						<div class="realty_item_desc_bottom">
							<div class="realty_item_desc_features">
								<div class="realty_item_desc_features_item">
									<p>Район: Дом обороны</p>
								</div>
								<div class="realty_item_desc_features_item">
									<p>Площадь: 45м2</p>
								</div>
								<div class="realty_item_desc_features_item">
									<p>Материал стен: Панель</p>
								</div>
								<div class="realty_item_desc_features_item">
									<p>Площадь кухни: 10 м²</p>
								</div>
								<div class="realty_item_desc_features_item">
									<p>Этаж: 4 / 14</p>
								</div>
								<div class="realty_item_desc_features_item">
									<p>Ремонт: Дизайн-проект</p>
								</div>																								
							</div>
						</div>
									<div class="realty_item_button">
										<p href="" class="item-info-btn">Подробнее о квартире</p>
									</div>

					</div>
				</div>
				</a>

<a href="realty_home_page.html" class="realty_home_href" target="_blank">
				<div class="realty_item">
					<div class="realty_item_photo">
						 <div class="realty_item_photo_item" style="background-image: url(img/realty_home_search.png);"></div>

					</div>
					<div class="realty_item_desc">
						<div class="realty_item_desc_top">
							<div class="realty_item_desc_price">
								<div class="realty_item_desc_old_price">
								2 900 000 ₽
							</div>
							<div class="realty_item_desc_new_price">
								2 500 000 ₽
							</div>
							</div>

							<div class="realty_item_desc_price_m2">
								Цена за м²: 30 234 ₽
							</div>
						</div>
						<div class="realty_item_desc_middle">
							<div class="realty_item_desc_name">
								Однокомнтаная квартира
							</div>
							<div class="realty_item_desc_adress">
								<i class="fa fa-map-marker" aria-hidden="true"></i> ул. Широтная д. 125
							</div>
						</div>
						<div class="realty_item_desc_bottom">
							<div class="realty_item_desc_features">
								<div class="realty_item_desc_features_item">
									<p>Район: Дом обороны</p>
								</div>
								<div class="realty_item_desc_features_item">
									<p>Площадь: 45м2</p>
								</div>
								<div class="realty_item_desc_features_item">
									<p>Материал стен: Панель</p>
								</div>
								<div class="realty_item_desc_features_item">
									<p>Площадь кухни: 10 м²</p>
								</div>
								<div class="realty_item_desc_features_item">
									<p>Этаж: 4 / 14</p>
								</div>
								<div class="realty_item_desc_features_item">
									<p>Ремонт: Дизайн-проект</p>
								</div>																								
							</div>
						</div>
									<div class="realty_item_button">
										<p href="" class="item-info-btn">Подробнее о квартире</p>
									</div>

					</div>
				</div>
				</a>

<a href="realty_home_page.html" class="realty_home_href" target="_blank">
				<div class="realty_item">
					<div class="realty_item_photo">
						 <div class="realty_item_photo_item" style="background-image: url(img/realty_home_search.png);"></div>

					</div>
					<div class="realty_item_desc">
						<div class="realty_item_desc_top">
							<div class="realty_item_desc_price">
								<div class="realty_item_desc_old_price">
								2 900 000 ₽
							</div>
							<div class="realty_item_desc_new_price">
								2 500 000 ₽
							</div>
							</div>

							<div class="realty_item_desc_price_m2">
								Цена за м²: 30 234 ₽
							</div>
						</div>
						<div class="realty_item_desc_middle">
							<div class="realty_item_desc_name">
								Однокомнтаная квартира
							</div>
							<div class="realty_item_desc_adress">
								<i class="fa fa-map-marker" aria-hidden="true"></i> ул. Широтная д. 125
							</div>
						</div>
						<div class="realty_item_desc_bottom">
							<div class="realty_item_desc_features">
								<div class="realty_item_desc_features_item">
									<p>Район: Дом обороны</p>
								</div>
								<div class="realty_item_desc_features_item">
									<p>Площадь: 45м2</p>
								</div>
								<div class="realty_item_desc_features_item">
									<p>Материал стен: Панель</p>
								</div>
								<div class="realty_item_desc_features_item">
									<p>Площадь кухни: 10 м²</p>
								</div>
								<div class="realty_item_desc_features_item">
									<p>Этаж: 4 / 14</p>
								</div>
								<div class="realty_item_desc_features_item">
									<p>Ремонт: Дизайн-проект</p>
								</div>																								
							</div>
						</div>
									<div class="realty_item_button">
										<p href="" class="item-info-btn">Подробнее о квартире</p>
									</div>

					</div>
				</div>
				</a>


<a href="realty_home_page.html" class="realty_home_href" target="_blank">
				<div class="realty_item">
					<div class="realty_item_photo">
						 <div class="realty_item_photo_item" style="background-image: url(img/realty_home_search.png);"></div>

					</div>
					<div class="realty_item_desc">
						<div class="realty_item_desc_top">
							<div class="realty_item_desc_price">
								<div class="realty_item_desc_old_price">
								2 900 000 ₽
							</div>
							<div class="realty_item_desc_new_price">
								2 500 000 ₽
							</div>
							</div>

							<div class="realty_item_desc_price_m2">
								Цена за м²: 30 234 ₽
							</div>
						</div>
						<div class="realty_item_desc_middle">
							<div class="realty_item_desc_name">
								Однокомнтаная квартира
							</div>
							<div class="realty_item_desc_adress">
								<i class="fa fa-map-marker" aria-hidden="true"></i> ул. Широтная д. 125
							</div>
						</div>
						<div class="realty_item_desc_bottom">
							<div class="realty_item_desc_features">
								<div class="realty_item_desc_features_item">
									<p>Район: Дом обороны</p>
								</div>
								<div class="realty_item_desc_features_item">
									<p>Площадь: 45м2</p>
								</div>
								<div class="realty_item_desc_features_item">
									<p>Материал стен: Панель</p>
								</div>
								<div class="realty_item_desc_features_item">
									<p>Площадь кухни: 10 м²</p>
								</div>
								<div class="realty_item_desc_features_item">
									<p>Этаж: 4 / 14</p>
								</div>
								<div class="realty_item_desc_features_item">
									<p>Ремонт: Дизайн-проект</p>
								</div>																								
							</div>
						</div>
									<div class="realty_item_button">
										<p href="" class="item-info-btn">Подробнее о квартире</p>
									</div>

					</div>
				</div>
				</a>


<a href="realty_home_page.html" class="realty_home_href" target="_blank">
				<div class="realty_item">
					<div class="realty_item_photo">
						 <div class="realty_item_photo_item" style="background-image: url(img/realty_home_search.png);"></div>

					</div>
					<div class="realty_item_desc">
						<div class="realty_item_desc_top">
							<div class="realty_item_desc_price">
								<div class="realty_item_desc_old_price">
								2 900 000 ₽
							</div>
							<div class="realty_item_desc_new_price">
								2 500 000 ₽
							</div>
							</div>

							<div class="realty_item_desc_price_m2">
								Цена за м²: 30 234 ₽
							</div>
						</div>
						<div class="realty_item_desc_middle">
							<div class="realty_item_desc_name">
								Однокомнтаная квартира
							</div>
							<div class="realty_item_desc_adress">
								<i class="fa fa-map-marker" aria-hidden="true"></i> ул. Широтная д. 125
							</div>
						</div>
						<div class="realty_item_desc_bottom">
							<div class="realty_item_desc_features">
								<div class="realty_item_desc_features_item">
									<p>Район: Дом обороны</p>
								</div>
								<div class="realty_item_desc_features_item">
									<p>Площадь: 45м2</p>
								</div>
								<div class="realty_item_desc_features_item">
									<p>Материал стен: Панель</p>
								</div>
								<div class="realty_item_desc_features_item">
									<p>Площадь кухни: 10 м²</p>
								</div>
								<div class="realty_item_desc_features_item">
									<p>Этаж: 4 / 14</p>
								</div>
								<div class="realty_item_desc_features_item">
									<p>Ремонт: Дизайн-проект</p>
								</div>																								
							</div>
						</div>
									<div class="realty_item_button">
										<p href="" class="item-info-btn">Подробнее о квартире</p>
									</div>

					</div>
				</div>
				</a>

<a href="realty_home_page.html" class="realty_home_href" target="_blank">
				<div class="realty_item">
					<div class="realty_item_photo">
						 <div class="realty_item_photo_item" style="background-image: url(img/realty_home_search.png);"></div>

					</div>
					<div class="realty_item_desc">
						<div class="realty_item_desc_top">
							<div class="realty_item_desc_price">
								<div class="realty_item_desc_old_price">
								2 900 000 ₽
							</div>
							<div class="realty_item_desc_new_price">
								2 500 000 ₽
							</div>
							</div>

							<div class="realty_item_desc_price_m2">
								Цена за м²: 30 234 ₽
							</div>
						</div>
						<div class="realty_item_desc_middle">
							<div class="realty_item_desc_name">
								Однокомнтаная квартира
							</div>
							<div class="realty_item_desc_adress">
								<i class="fa fa-map-marker" aria-hidden="true"></i> ул. Широтная д. 125
							</div>
						</div>
						<div class="realty_item_desc_bottom">
							<div class="realty_item_desc_features">
								<div class="realty_item_desc_features_item">
									<p>Район: Дом обороны</p>
								</div>
								<div class="realty_item_desc_features_item">
									<p>Площадь: 45м2</p>
								</div>
								<div class="realty_item_desc_features_item">
									<p>Материал стен: Панель</p>
								</div>
								<div class="realty_item_desc_features_item">
									<p>Площадь кухни: 10 м²</p>
								</div>
								<div class="realty_item_desc_features_item">
									<p>Этаж: 4 / 14</p>
								</div>
								<div class="realty_item_desc_features_item">
									<p>Ремонт: Дизайн-проект</p>
								</div>																								
							</div>
						</div>
									<div class="realty_item_button">
										<p href="" class="item-info-btn">Подробнее о квартире</p>
									</div>

					</div>
				</div>
				</a>																								

			</div>
		</div>
	</div>
</section>


<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
			<div class="menu_footer">
				<div class="menu_logo_footer">
				<img src="img/logo.svg" alt="" class="img-responsive">
				</div>

			<ul class="menu_footer_container">
				<li><a href="new_home_search.html">Новостройки</a></li>
				<li><a href="">Ипотека</a></li>
				<li><a href="">Копротивная программа</a></li>
				<li><a href="">Отзывы</a></li>
				<li><a href="">О компани</a></li>
				<li><a href="">Контакты</a></li>
			</ul>

		</div>
		<div class="footer_info">
			<div class="info_1">
				©<span class="old_year">2016</span> — 2017 Информационные материалы и цены, размещенные на сайте, не являются публичной офертой
			</div>
			<div class="info_1">
				<a href="">Политика конфиденциальности</a>
			</div>
		</div>
			</div>
		</div>
	</div>
</footer>
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/libs_css.min.css">
	<script src="js/scripts_libs.min.js"></script>
	<script src="js/common.js"></script>

</body>
</html>
