{% extends 'base/base.html'%}
{% load static %}
{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Спасибо" "/" %}
{% endblock %}
{% block content %}
<section>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="thank_you_headline">
					Спасибо за обращение!
				</div>
				<div class="thank_you_desc">
					Менеджер DОМУС в скором времени с вами свяжется.
				</div>
			</div>
						<div class="col-md-12 col-xs-12" >
				<div class="btn_all_newhome">
				<a href="{{ request.META.HTTP_REFERER }}" class="all_newhome">Продолжить просмотр</a>	
				</div>
				
			</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}