{% load static %}
<div class="team_item row" >
    <div>
        <img src="{% static img_src %}" class="team_photo">
    </div>
    <div class="team_item_name ">{{ name }}</div>
    <div class="team_item_desc">
        Телефон: <span class="team_item_phone">{{ phone }}</span>
        <br>
    Эл. почта: <a href="mailto:domus72@bk.ru" class="team_item_email">domus72@bk.ru</a>
    </div>
    <div class="team_item_btn">
        <a href="{% url 'applications:callback' %}" class="team_item_btn_phone callback-link">Заказать обратный звонок</a>
        {% if vk %}
            <a href="{{vk}}" class="team_item_btn_vk">Написать в Вконтакте</a>
        {% endif %}
    </div>
</div>