<div class="hidden">
	<div id="modal_soc_prog" class="animate_popup">
		<div class="modal_soc_prog_name zhk_headline">
			Молодая семья
		</div>
		<div class="modal_soc_prog_description">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione vel corporis maiores libero, ullam, cupiditate labore ipsum asperiores quam incidunt expedita doloribus, saepe.
		</div>
		<div class="modal_soc_pro_form">
			<div class="modal_soc_pro_form_name">
				Консультация по программе
			</div>
			<form action="" class="special_offers_form">
				<input type="text" class="small_input" placeholder="Телефон">
				<button class="btn_small">Узнать</button>
			</form>
		</div>
	</div>
</div>